#back-about span {
    color: #138690;
    margin-left: 35px;;
}

a {
    display: inline-block;
}

a:after {
    display: block;
    content: '';
    border-bottom: 2px solid #138690;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1.01);
}

a.fromRight:after {
    transform-origin: 100% 50%;
}

a.from-left:after {
    transform-origin: 0% 50%;
}