/* Change the screen size to see the content adapt but columns stay same height. By default, flexbox will do this unless you define a different align-items declaration on the flex container. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }

  /* ------------------------service card detail header ----------------------------- */
.l_service__section__wrapper {
    width: 100%;
    display: block;
}
.l_service__section__wrapper header{
    text-align: center;
}
  
  /* html, body {
    margin: 0;
    padding: 0;
  } */
  .c_service__card__container{
      margin-top: 50px;
  }
  .c_service__card__container div.center{
    justify-content: center;
    display: flex;
    width: calc((100% - 50px)/3);
}
  .c_service__card__container div.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1186px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .c_service__card__container div.flex-item {
    /* width: ; */
    margin-top:20px;
    padding: 32px 15px;
    color: #303030;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
  }
    .c_service__card__container div.flex-item img{
        width: 70px;
    }
    .c_service__card__container div.flex-item h1{
        margin-top: 25px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }
    .c_service__card__container div.flex-item p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* text */
        color: #303030;
        text-align: left;
    }
  
  
  .c_service__card__container div.center:nth-of-type(1) {
    margin-right: 25px;
  }
  
  .c_service__card__container div.center:nth-of-type(2) {
    margin-right: 25px;
  }
  
  .c_service__card__container div.center:nth-of-type(4) {
    margin-right: 25px;
  }
  .c_service__card__container div.center:nth-of-type(5) {
    margin-right: 25px;
  }
  .c_service__card__container div.center:nth-of-type(7) {
    margin-right: 25px;
  }
  .c_service__card__container div.center:nth-of-type(8) {
    margin-right: 25px;
  }
  

@media only screen and (max-width: 1366px) {
    .c_service__card__container div.flex-container{
        padding: 0 90px;
        max-width: 100%;
    }
    .c_service__card__container div.flex-item {
        width: 100%;
    }
    .c_service__card__container div.center{
        justify-content: flex-start;
        width: calc((100% - 50px)/3);
    }
    /* .c_service__card__container div.flex-item{

    } */
    
}
@media only screen and (max-width: 980px) {
  .c_service__card__container div.center:nth-of-type(1) {
    margin-right: 25px;
  }
  
  .c_service__card__container div.center:nth-of-type(2) {
    margin-right: 0px;
  }
  .c_service__card__container div.center:nth-of-type(3) {
    margin-right: 25px;
  }
  
  .c_service__card__container div.center:nth-of-type(4) {
    margin-right: 0px;
  }
  .c_service__card__container div.center:nth-of-type(5) {
    margin-right: 25px;
  }
  .c_service__card__container div.center {
    width: calc((100% - 25px)/2);
}
}
@media only screen and (max-width: 768px) {
  .c_service__card__container div.center:nth-of-type(1) {
    margin-right: 0px;
  }
  
  .c_service__card__container div.center:nth-of-type(2) {
    margin-right: 0px;
  }
  .c_service__card__container div.center:nth-of-type(3) {
    margin-right: 0px;
  }
  
  .c_service__card__container div.center:nth-of-type(4) {
    margin-right: 0px;
  }
  .c_service__card__container div.center:nth-of-type(5) {
    margin-right: 0px;
  }
    .c_service__card__container div.flex-container{
        padding: 0 20px;
    }
    .c_service__card__container div.center{
        padding: 0;
        margin: 0px;
        display: block;
        width: 100%;
    }
   
    
}