  .c_service__card__container{
      max-width: 1185px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
  }
  .l_service__section__wrapper{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
    max-width: 674px;
  }
  .c_service__area__header h1{
    font-family: SFProText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #303030;
    margin:0px;
    margin-bottom: 20px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
.item_center{
    justify-content: center;
    display: flex;
    width: calc((100% - 50px)/3);
}

  
.flex-item {
    margin-top:20px;
    padding: 32px 15px;
    color: #303030;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
    .flex-item img{
        width: 70px;
    }
   .flex-item h1{
        margin-top: 25px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }
   .flex-item p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* text */
        color: #303030;
        text-align: left;
    }
  
    .item_center:nth-of-type(3n+1){
      margin-right: 25px;
    }
    .item_center:nth-of-type(3n+2){
      margin-right: 25px;
    }
@media only screen and (max-width: 1366px) {
    .c_service__card__container{
        padding: 0px 90px;
    }
}
@media only screen and (max-width: 1024px) and (min-width:720px) {
  .c_service__card__container{
    padding: 0px 30px;
  }
  .item_center:nth-of-type(1n+0) {
    margin-right: 25px;
  }
    .item_center:nth-of-type(2n+0) {
      margin-right: 0px;
  }
    .item_center {
       width: calc((100% - 25px)/2);
}
}
@media only screen and (max-width: 719px) and (min-width: 250px) {
  .c_service__card__container{
    padding: 0px 15px;
  }
    .item_center:nth-of-type(1n+0) {
       margin-right: 0px;
  }
    .item_center{
        width: 100%;
    }
}