<div class="c_service__card__container">
    <div class="flex-container">
        <div class="center">
            <div class="flex-item">
                <img src="../../assets/service-detail-page/icon/target.svg">
                <h1>Object Detection</h1>
                <p>Our company aims to be the best chatbot development solution to contribute and help business to bridge the gap with the customer. Our chatbot service provides constant performance to customer queries. It has the expertise to automate the conversation in forms that are simple, reliable and secure with immediate responses.</p>
            </div>
            <div class="flex-item">
                <img src="../../assets/service-detail-page/icon/chatbot.svg">
                <h1>Chatbot Development</h1>
                <p>Our company aims to be the best chatbot development solution to contribute and help business to bridge the gap with the customer. Our chatbot service provides constant performance to customer queries. It has the expertise to automate the conversation in forms that are simple, reliable and secure with immediate responses.</p>
            
            </div>
            <div class="flex-item ">
                <img src="../../assets/service-detail-page/icon/ai.svg">
                <h1>Generative Adversarial Network</h1>
                <p>GAN AI is a two-part AI model consisting of a generator that creates samples and a discriminator that attempts to differentiate between the generated sample and real-world samples. It’s been used to produce problematic content like deepfakes, which is media that takes a person in existing media and replace them with someone else’s likeness. Our company aims to provide the best solution for GAN AI.</p>
            </div>
        </div>   
             
    </div>
    <div class="flex-container">
        <div class="center">
            <div class="flex-item ">
                <img src="../../assets/service-detail-page/icon/predictive-chart.svg">
                <h1>Predictive Analytics </h1>
                <p>This advanced technique encompasses a variety of statistical techniques from data mining to predictive modeling. Our company provides the service and contribute to the business and make the improvement. Using this technology, we help you analyze, design, and search for new possibilities in business while making full use of advanced technologies.</p>
            </div>
            <div class="flex-item ">
                <img src="../../assets/service-detail-page/icon/voice-recognition.svg">
                <h1>Voice Recognition  </h1>
                <p>Voice Recognition is alternatively referred to as speech recognition, voice recognition is a computer software program or hardware device with the ability to decode the human voice. It is commonly used to operate a device, perform commands, or write without having a keyboard, mouse or press any button.</p>
            </div>
        </div>   
             
    </div>
</div>