<div class="c_ai_important__container">
        <div class="c_ai__description__container">
            <article class="l_ai_description__wrapper">
                <header class="c_description__header">
                    <h1>{{business[0]['header']}}</h1>
                </header>
                <p>
                    {{business[0]['description']}}
                </p>
            </article>
        </div>
        <div class="l_ai__important__point__container">
            <header class="c_ai__important__header">
                <h1>{{business[1]['header']}}</h1>
            </header>
            <article class="l_ai__impartant__wrapper">
                <div class="l_important__img">
                    <img :src="'../assets/component/service/' + $route.params.service  + '/business/' + business[1]['imageUrl']" alt="ai benefit for besiness">
                </div>
                <div class="c_why__ai">
                    <ul v-for="businessList in business[1]['texts']">
                        <li>{{businessList['text']}}</li>
                    </ul>
                </div>
            </article>
            <hr>
        </div>
</div>