<div class="c_ai_important__container">
    <section class="c_ai__important__section">
        <div class="c_ai__description__container">
            <article class="l_ai_description__wrapper">
                <header class="l_description__header">
                    <h1>Why A2A Digital gives the best AI service?</h1>
                </header>
                <p>
                    2A Digital provides a handful advanced artificial intelligent software while keeping the quality and security in mind. We aim to reach the highest number of users and provide a more comprehensive user experience. With our skilled team we develop AI service for our clients and ensure the quality of the service.
                </p>
            </article>
        </div>
        <div class="c_ai__important__point__container">
            <header class="l_ai__important__header">
                <h1>AI benefits for Business</h1>
            </header>
            <article class="l_ai__impartant__wrapper">
                <div class="l_important__img">
                    <img src="../../assets/component/service-ai-important/ai-business.png" alt="">
                </div>
                <div class="l_why__ai">
                    <ul>
                        <li>AI helps in increasing work efficiency and reshape business efficiency </li>
                        <li>Artificial Intelligence automates customer interaction by analyzing complete data</li>
                        <li>Get real-time assistance using AI and communicate with millions of customers</li>
                        <li>Artificial intelligence is used for data mining and to discover relevant data</li>
                        <li>Increase productivity by stopping repetitive tasks using AI</li>
                        <li>Improve security system with the help of AI Technology</li>
                    </ul>
                </div>
            </article>
            <hr>
        </div>
    </section>
</div>