.c_ai__description__container {
    background-color: #138690;
    padding: 80px 90px;
}

.l_ai_description__wrapper {
    max-width: 1186px;
    margin: auto;
}

.l_description__header h1 {
    margin-top:0px;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.l_ai_description__wrapper p {
    font-family: SFProText-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* -----------------------------------important point part---------------------- */
.c_ai__important__point__container {
    max-width: 1185px;
    margin: auto;
}
.c_ai_important__container hr{
margin-top:35px;
}
.l_ai__impartant__wrapper {
    margin-bottom: 35px;
    max-width: 1185px;
    margin: auto;
    display: flex;
    align-items: center;

}

.l_ai__important__header {
    margin: 50px 0;
}

.l_ai__important__header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #303030;
    margin: 0;
}

.l_important__img {
    width: 50%;

}

.l_important__img img {
    width: 100%;
}

.l_why__ai {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin-left: 1em;
}

.l_why__ai li::before {
    content: "\2022";
    color: rgba(19, 134, 144, 0.5);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 22px;
    margin-left: -1em;
}

@media only screen and (max-width: 1366px) {
    .c_ai__important__point__container {
        padding: 0 90px;
    }
}
@media only screen and (max-width: 1024px) {
    .c_ai__description__container {
        padding: 80px 30px;
    }

    .c_ai__important__point__container {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 719px) {
    .c_ai__description__container {
        padding: 80px 15px;
    }

    .c_ai__important__point__container {
        padding: 0 15px;
    }

    .l_ai__impartant__wrapper {
        display: block;
    }

    .l_important__img {
        margin: auto;
        width: auto;
    }
}