<html>
</head>

<link rel="stylesheet" type="text/css" href="card-product.css">

</head>

<body>
  <div class="l_product">
    <h1 style="text-align:center"> Products</h1>
            <div class="c_product">
              <div class="c_row">
                <div class="c_column c_arrow__left">
                  <img class="c_icon__arrowleft" src="../../assets/productcard-image/arrow_left.svg" alt="arrow_left">
                </div>
                <div class="c_column c_middle">
                  <div class="middle_inner">
                      <div class="c_align__margin">
                        <div class="c_card bg_purple">
                          <img class="c_icon__product" src="../../assets/productcard-image/brain.svg" alt="Brain">
                        </div>
                        <div class="c_title__product">
                          <h2>AI Book</h2>
                          <p>The machine writes the book that base on the user requirements. </p>
                        </div>
                      </div>

                      <div class="c_align__margin">
                        <div class="c_card bg_pink">
                          <img class="c_icon__product" src="../../assets/productcard-image/iot.svg" alt="IOT">
                        </div>
                        <div class="c_title__product">
                          <h2>AI Book</h2>
                          <p>The machine writes the book that base on the user requirements. </p>
                        </div>
                      </div>

                      <div class="c_align__margin" >
                        <div class="c_card bg_yellow">
                          <img class="c_icon__product" src="../../assets/productcard-image/phone.svg" alt="Phone">
                        </div>
                        <div class="c_title__product">
                          <h2>AI Book</h2>
                          <p>The machine writes the book that base on the user requirements. </p>
                        </div>
                      </div>

                      <div class="c_align__margin">
                        <div class="c_card bg_lightblue">
                          <img class="c_icon__product" src="../../assets/productcard-image/video_editing.svg" alt="Video_Editing">
                        </div>
                        <div class="c_title__product">
                          <h2>AI Book</h2>
                          <p>The machine writes the book that base on the user requirements. </p>
                        </div>
                      </div>

                      <!--
                      <div class="c_card bg_pink">
                        <img class="c_icon__product" src="../../assets/productcard-image/iot.svg" alt="IOT">
                      </div>
                      <div class="c_card bg_yellow">
                        <img class="c_icon__product" src="../../assets/productcard-image/phone.svg" alt="Phone">
                      </div>
                      <div class="c_card bg_lightblue">
                        <img class="c_icon__product" src="../../assets/productcard-image/video_editing.svg" alt="Video_Editing">
                      </div>
                      -->
                  </div>
                </div>
                <div class="c_column c_arrow__right">
                  <img class="c_icon__arrowright" src="../../assets/productcard-image/arrow_right.svg" alt="arrow_right">
                </div>
              </div>
              <div class="l_bullet">
                  <img class="c_bullet" src="../../assets/productcard-image/pagination-bullet-01.svg" alt="Bullet-01">
                  <img class="c_bullet" src="../../assets/productcard-image/pagination-bullet-02.svg" alt="Bullet-02">
                  <img class="c_bullet" src="../../assets/productcard-image/pagination-bullet-03.svg" alt="Bullet-03">
              </div>
            </div>


      

      
    </div>  
  </div> 
  


</body>
</html>
