.l_product {
  margin-top: 60px;
}

.c_product {
  height: 200px;
}

.c_row:after {
  content: "";
  display: table;
  clear: both;
}

.c_row {
  display: flex;
}

.c_column {
  float: left;
  padding: 10px;
  height: 200px;
}

.c_arrow__left {
  width: 2%;
  position: relative;
}

.c_middle {
  width: -webkit-fill-available;
}

.middle_inner {
  display: flex;
}

.c_arrow__right {
  width: 2%;
  position: relative;
}

.c_icon__arrowleft {
  width: 30px;
  height: 30px;
  fill: #303030;
  position: absolute;
  top: 40%;
}

.c_icon__arrowright {
  width: 30px;
  height: 30px;
  fill: #303030;
  float: right;
  position: absolute;
  top: 40%
}

.c_card {
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.c_title__product {
  word-break: break-all;
  white-space: normal;
  width: 200px;
}

.c_icon__product {
  width: 60px;
  height: 60px;
  margin: auto auto;
}

.c_card + .c_card {
  margin-left: 20px;
}

.c_align__margin {
  margin: auto auto;
  display: table;
}

.bg_purple {
  background-color: #D0ACE8;
}

.bg_pink {
  background-color: #FFDBC9;
}

.bg_yellow {
  background-color: #E8E7AC;
}

.bg_lightblue {
  background-color: #BDFFF0;
}

.l_bullet {
  margin-top: 150px;
  margin-left: 50%;
}

.c_bullet {
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  padding: 10px;
}