<div id="card_product">
    <div data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="l_card_product">
        <h1>Solutions</h1>
        <div class="c_card_product">
          <swiper :options="swiperSlides">
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/security.svg">
                      <div class="c_title__product">
                          <h2>Security Service</h2>
                          <p>Provides new ways of security services with a modern technology.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'security' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/kpi.svg">
                      <div class="c_title__product">
                          <h2>KPI Dashboard System</h2>
                          <p>Measures the performance and progress of a company against its key objectives.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'kpi' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/qr-code.svg">
                      <div class="c_title__product">
                          <h2>QR Code System</h2>
                          <p>Brings you to the digital key or “QR Code” instead of physical key.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'qrcode' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/contact-center.svg">
                      <div class="c_title__product">
                          <h2>Contact Center</h2>
                          <p>We have the technology, industry, and contact center experience to help you succeed.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'contactcenter' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/projection.svg">
                      <div class="c_title__product">
                          <h2>Projection Mapping</h2>
                          <p>A video projection technology that is used to transform non-flat surfaces.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'mapping' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/hrms.svg">
                      <div class="c_title__product">
                          <h2>HRM System</h2>
                          <p>Involves management functions like planning, organizing, directing and controlling.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'hrm' }}).href">Read More
                            <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>  
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/logistic.svg">
                      <div class="c_title__product">
                          <h2>Logistic System</h2>
                          <p>Involves order processing, inventory management, and freight transportation.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'ls' }}).href">Read More
                              <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <swiper-slide>
                  <div class="c_card_detail">
                      <img class="c_img_product" alt="" src="../../../public/assets/component/card-product/sms.svg">
                      <div class="c_title__product">
                          <h2>SMS</h2>
                          <p>Simple, powerful & affordable solution in the education system with SMS.</p>
                          <a :href="$router.resolve({ name: 'solutiondetail', params: { solution: 'sms' }}).href">Read More
                              <img alt="" src="../../../public/assets/component/card-product/read_more.svg">
                          </a>
                      </div>
                  </div>
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              
          </swiper>
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </div>
    </div>
  </div>