<div id="about_team" class="l_section__team__card">
    <h1 class="text-center">Our Team</h1>
    <div class="c_team__card__container">
        <div class="l_team__card__center">
            <swiper :options="ourTeamSwiper" style="padding-bottom: 0 !important;">
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Thaung Mony Odam</h3>
                            <p>Team Leader</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/oudom.jpg" alt="">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Lay Seaklim</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/Seaklim.jpg"
                                 alt="">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Phan Sokream</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/PhanSokream.jpg"
                                 alt="">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Pen Serey Otdom</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/otdom.jpeg" alt="">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sadeth Kimheng</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/KimhengSadeth.jpg"
                                 alt="">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sub Tam </h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/SubTam.png" alt="">
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
        </div>
    </div>
</div>
