<div class="l_section__team__card">
    <h1 class="text-center">Our Team</h1>
    <div class="c_team__card__container">
        <div class="l_team__card__center">
            <swiper :options="ourTeamSwiper">
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Thaung Mony Odam</h3>
                            <p>Team Leader</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/oudom.jpg" alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Lay Seaklim</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/Seaklim.jpg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Phan Sokream</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/PhanSokream.jpg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Pen Serey Otdom</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/otdom.jpeg" alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Thon Metheany</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/metheany.png"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sadeth Kimheng</h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/KimhengSadeth.jpg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sub Tam </h3>
                            <p>Developer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/SubTam.png" alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
        </div>
    </div>
    <div class="c_team__card__container">
        <div class="l_team__card__center">
            <swiper :options="ourTeamSwiper">
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Phan Sreypich</h3>
                            <p>Team Leader</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/pich.jpeg" alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sok Kakvey</h3>
                            <p>Designer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/kakvey.jpg" alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Sothy Bunthoeurn</h3>
                            <p>Designer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/Sothy Bunthoeurn.jpg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Oy Chanphallin</h3>
                            <p>Designer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/OyChanphallin.jpeg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="l_card__team">
                        <header class="c_team__card__caption">
                            <h3>Yan Chakreya</h3>
                            <p>Designer</p>
                        </header>
                        <div class="c_team__card__img">
                            <img src="../../../public/assets/component/about-carousel/Teams/YanChakreya.jpg"
                                 alt="test img ">
                        </div>
                    </div>
                </swiper-slide>
                <!-- <div class="swiper-pagination" slot="pagination"></div> -->
            </swiper>
        </div>
    </div>
</div>
