<div class="l_section__team__card">
    <header class="c_team_title">
            <h1>Our Team</h1>
    </header>
    <div class="c_team__card__container">
        <div class="l_team__card__center">
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                 
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                 
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
   
            </div>
        </div>
    </div>
    <div class="c_team__card__container">
        <div class="l_team__card__center">
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                 
            </div>
            <div class="l_card__team">
                <header class="c_team__card__caption">
                    <h1>Loem Dara</h1>
                    <p>Project Manger</p>
                </header>
                <div class="c_team__card__img">
                    <img src="../../assets/img/img1.jpg" alt="test img ">
                </div>
                 
            </div>
        </div>
    </div>

</div>




