.c_team__card__container{
    display: flex;
    /* padding-left: calc((100% - 1186px) / 2); */
    justify-content: center;
    margin-top: 20px;
}

.l_section__team__card {
    margin-bottom: 100px;
}
.l_team__card__center{
    display: flex;
}
.c_team_title h1{
    font-size: 45px;
    display: block;
    width: 100%;
    text-align: center;
}
.l_card__team h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.l_card__team p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4E4D4D;
}
.swiper-slide{
    display: flex;
}
.l_card__team{
    /* width: 100%; */
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.l_card__team .c_team__card__caption{
    padding: 30px;
    line-height: 19px;
}
.c_team__card__img {
    display: block;
    position: relative;
    margin-bottom: -5px;
}
.c_team__card__img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.l_card__team a{
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    color: #138690;
}
.l_card__team a svg{
    width: 20px;
    height: 34px;
    fill: #138690;
    float: right;
}

/* ----------------------------------------------------mobile layout------------------------------------------ */
@media only screen and (max-width: 980px) {       

    .c_team__card__container[data-v-99ad67e2] {
        padding: 0;
    }
    .c_team_title h1 {
        font-size: 32px;
    }
    .l_card__team .c_team__card__caption{
        width: 100%;
        padding: 30px;
        line-height: 9px;
    }
    .l_card__team a {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 1186px) { 
    div.c_team__card__container div.l_team__card__center {
        max-width: calc(100% - 40px);
        width: 100%;
    }
}
@media only screen and (min-width: 1187px) { 
    .c_team__card__container {
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 20px;
    }
    div .c_team__card__container div.l_team__card__center {
        max-width: 1186px;
    }
}
@media only screen and (max-width: 980px) { 
    .swiper-slide{
        width: calc((100% - 40px)/3) !important;
    }
}
@media only screen and (max-width: 768px) { 
    .c_team__card__img img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .swiper-slide{
        width: calc((100% - 20px)/2) !important;
        margin-right: 20px !important;
    }
}
@media only screen and (max-width: 414px) { 
    .c_team__card__img img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .swiper-slide{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) { 
    .swiper-slide{
        width: 100% !important;
    }
    .c_team__card__img img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

