.c_service_work_card {
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.c_service__section__header {
    margin-bottom: 50px;
}
.c_service__section__header h1{
    font-family: SFProText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #303030;
    margin: 0px;
}
.center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
 .flex-item {
    display: inline-block;
    width: calc((100% / 3) - 50px / 3);
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
 .flex-item:nth-of-type(3n+1) {
    margin-right: 18px;
}
 .flex-item:nth-of-type(3n+2) {
    margin-right: 18px;
}
.flex-item:nth-of-type(3n+4) {
    margin-top: 25px;
}
.flex-item:nth-of-type(3n+5) {
    margin-top: 25px;
}
.flex-item:nth-of-type(3n+6) {
    margin-top: 25px;
}
.c_service_work_card img {
    width: 100%;
    height: 100%;
    object-fit: contain
}
 .c_img__container {
    width: 100%;
    height: 250px;
    text-align: center;
    background: #303030;
}
 .c_text__card {
    padding: 15px;
}
 .c_text__card h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #138690;
}
 .c_text__card p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}
@media only screen and (max-width: 1366px) {
     .c_service_work_card {
        padding: 0px 90px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 720px){
    .c_service_work_card{
        padding: 0px 30px;
        margin-bottom: 25px;
    }
    .center {
        display: inline-block;
    }
    .flex-item:nth-of-type(1n+1) {
        display: flex;
        width: auto;
        margin: 0px !important;
        margin-bottom: 25px !important;
        align-items: center;
    }
     .c_img__card {
        float: left;
        width: 30%;
    }
     .c_text__card {
        padding: 25px;
        float: left;
    }
}
@media only screen and (max-width: 719px) and (min-width: 250px){
    .c_service_work_card{
        padding: 0px 15px;
        margin-bottom: 35px;
        }
    .flex-item:nth-of-type(1n+1) {
        margin-bottom: 15px;
        margin: 0;
    }
    .c_img__container {
        height: 290px;
    }
     .c_img__card {
        width: auto;
    }
     .center {
        display: inline-block;
    }
     .c_img__card {
        float: none;
        width: auto;
    }
     .c_text__card {
        padding: 14px;
        float: none;
        width: auto;
    }
     .flex-item {
        display: block;
        width: auto;
    }
}