<div>
    <div class="l_solution__slide">
        <h1>Solutions</h1>
    </div>
    <div class="l_solution__header">
        <h1>Security Camera</h1>
        <p>Package Alarm Security for Company ... Package Security Wireless ... leading supplier and specialist in Safety Security System and IT Infrastructure Solutions.Package Alarm Security for Company ... Package Security Wireless ... leading supplier and specialist in Safety Security System and IT Infrastructure Solutions.</p>
    
    </div>
</div>
