.l_jobspage_detail {
    /* width: 100%;      */
    padding: 0 90px;
}

.c_jobspage_title {
    
    /* width: 1385px; */
    padding-top: 28px;
    padding-bottom: 23px;
    /* position: absolute; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #BCCDD7;
}
#c_text {
    padding-left: 10px;
    color: #138690;
}
#c_icon {
    width: 7.52px;
    height: 10px;
    padding-left: 10px;
}