.l_jobspage_detail {
    /* width: 100%;      */
    padding: 0 90px;
}

.c_jobspage_title {
    
   max-width: 1366px; 
    padding-top: 28px;
    padding-bottom: 23px;
    /* position: absolute; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #BCCDD7;
}
#c_text {
    color: #138690;
}
#c_icon {
    width: 24px;
    height: 11px;
}