<div id="about-card" class="l_section__profile__card container">
    <h1 class="text-center">Managment Team</h1>
    <div class="c_profile__card__container">
        <div class="l_profile__card__center">
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Kenzaburo Beku</h3>
                    <p>Consultant Team</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-card/Advisor/bekku.jpg" alt="">
                    </div>
                    <a href="/profile/#bekku" class="c_btn__more">Read Bio
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                             style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
                            <g>
                                <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    "
                                      data-original="#000000" class="active-path" data-old_color="#000000"/>
                            </g>
                        </g></g>
                    </svg>
                    </a>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Mariko Sadamatsu </h3>
                    <p>Cambodia Marketing Team</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-card/Advisor/bekkuwife.jpg" alt="">
                    </div>
                    <a href="/profile/#mariko" class="c_btn__more">Read Bio
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                             style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
                                <g>
                                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    "
                                          data-original="#000000" class="active-path" data-old_color="#000000"/>
                                </g>
                            </g></g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Chihiro Kurose</h3>
                    <p>Japan Marketing Team</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-card/Advisor/chihiro.jpg" alt="">
                    </div>
                    <a href="/profile/#chihiro" class="c_btn__more">Read Bio
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                             style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
                                <g>
                                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    "
                                          data-original="#000000" class="active-path" data-old_color="#000000"/>
                                </g>
                            </g></g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Yasue Mashima</h3>
                    <p>Technology Team</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-card/Managers/mashami.jpg" alt="">
                    </div>
                    <a href="/profile/#mashima" class="c_btn__more">Read Bio
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                             style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
                                <g>
                                    <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    "
                                          data-original="#000000" class="active-path" data-old_color="#000000"/>
                                </g>
                            </g></g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1 id="about_team" class="text-center" style="margin-top: 50px;">Our Team</h1>
    <div class="c_profile__card__container">
        <div class="l_profile__card__center">
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Thaung Mony Odam</h3>
                    <p>Team Lead</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/oudom.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Lay Seaklim</h3>
                    <p>Developer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/seaklim.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Phan Sokream</h3>
                    <p>Developer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/sokream.jpg"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Pen Serey Otdom</h3>
                    <p>Developer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/otdom.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Thorn Metheany</h3>
                    <p>Developer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/theany.jpg" alt="">
                    </div>
                </div>
            </div>
<!--            <div class="l_card__about">-->
<!--                <header class="c_profile__card__caption">-->
<!--                    <h3>Sadeth Kimheng</h3>-->
<!--                    <p>Developer</p>-->
<!--                </header>-->
<!--                <div class="card__img__text">-->
<!--                    <div class="c_profile__card__img">-->
<!--                        <img src="../../../public/assets/component/about-carousel/Teams/phallin.jpg"-->
<!--                             alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Sub Tam</h3>
                    <p>Developer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/tam.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Phan Sreypich</h3>
                    <p>Designer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/pich.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Sok Kakvey</h3>
                    <p>Designer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/kakvey.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Sothy Bunthoeurn</h3>
                    <p>Designer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/thoeurn.jpg"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Oy Chanphallin</h3>
                    <p>Designer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/phallin.jpg"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="l_card__about">
                <header class="c_profile__card__caption">
                    <h3>Yan Chakreya</h3>
                    <p>Designer</p>
                </header>
                <div class="card__img__text">
                    <div class="c_profile__card__img">
                        <img src="../../../public/assets/component/about-carousel/Teams/chakreya.jpg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




