<div class="l_applicationForm">
    <form id="job-form" action="" method="">
        <div class="l_formGroup_container">
            <div class="l_jobform_container">
                <hr class="c_jobform_textmuted">
                <div class="c_jobform_col_25">
                    <h2>Personal Information<br/>
                        <span class="c_jobform_textmuted">Tell us something about yourself</span>
                    </h2>
                </div>
                <div class="c_jobform_col_25">
                    <label for="job_application_fullname">Full name</label><span class="asterisk">*</span>
                    <input type="text" name="job_application_name" id="job_application_fullname" placeholder="Your full name" required/>
                    <label for="job_application_email">Email address</label><span class="asterisk">*</span>
                    <input type="text" name="job_application_email" id="job_application_email" placeholder="Your email address" required/>
                    <label for="job_application_phone">Phone number</label><span class="asterisk">*</span>
                    <input type="text" name="job_application_phone" id="job_application_phone" placeholder="Your phone number" required/>
                </div>
            </div>
            <div class="l_jobform_container">
                <hr class="c_jobform_textmuted">
                <div class="c_jobform_col_25">
                    <h2>CV / Resume <span class="asterisk">*</span><br/>
                        <span class="c_jobform_textmuted">Upload yur CV or resume file</span>
                    </h2>
                </div>
                <div class="c_jobform_col_25">
                    <button type="submit">Add file</button>
                    <!--input type="file" name="cvfile" class="" id="cvinputfile" accept=".pdf,.doc,.docx" required/-->
                    <span class="c_jobform_textmuted c_jobform_noted">We accpet PDF, DOC and DOCX files</span>
                </div>
            </div>
            <div class="l_jobform_container">
                <hr class="c_jobform_textmuted">
                <div class="c_jobform_col_25">
                    <h2>Cover letter<br/>
                        <span class="c_jobform_textmuted">Insert your cover letter here</span>
                    </h2>
                </div>
                <div class="c_jobform_col_25">
                    <textarea name="coverletter"></textarea>
                </div>
            </div>

            <div class="l_jobform_container" id="portfolio">
                <hr class="c_jobform_textmuted">
                <div class="c_jobform_col_25">
                    <h2>Portfolio <span class="asterisk">*</span><br/>
                        <span class="c_jobform_textmuted">Add a link to your portfolio</span>
                    </h2>
                </div>
                <div class="c_jobform_col_25">
                    <input type="text" name="portfolio" class="" id="linkportfolio" required/>
                </div>
            </div>

            <div class="l_jobform_container">
                <hr class="c_jobform_textmuted">
                <div class="c_jobform_col_100">
                    <input type="submit" name="submitcv" value="Submit application">
                </div>
            </div>
        </div>
    </form>
</div>
