.l_applicationForm {
    padding: 90px;
}

.l_jobform_container:after {
    content: "";
    display: table;
    clear: both;
}

.l_jobform_container > hr {
   margin-bottom: 50px;
   margin-top: 50px;
   opacity: 0.5;
}

.c_jobform_col_25{
    float: left;
    width: 25%;
    margin-top: 20px;
    margin-left: 50px;
}

.c_jobform_col_100 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.c_jobform_col_25 > h2 {
    font-size: 20px;
}

.c_jobform_col_25 > label{
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.c_jobform_col_25 > button {
    border-radius: 4px;
    background-color: #E6F0F6;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    width: 84px;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}

.c_jobform_col_25 > textarea {
    resize: none;
    border-radius: 4px;
    border: 1px solid #BCCDD7;
    width: 400px;
    height: 148px;
}

.c_jobform_textmuted {
    color: #BCCDD7;
    font-size: 16px;
}

.c_jobform_noted {
   width: 280px;
   margin-left: 20px;
}

.asterisk {
    color: red;
}

.c_jobform_col_25 > input[type=text] {
    width: 400px;
    padding: 12px;
    border: 1px solid #BCCDD7;
    border-radius: 4px;
    resize: vertical;
}
.c_jobform_col_100 > input[type=submit] {
    background-color: #138690;
    color: white;
    text-align: center;
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
}

::placeholder{
    font-style: normal;
    color: #BCCDD7;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
  .c_jobform_col_25,.c_jobform_col_100, textarea, input[type=submit], input[type=text], .label {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

