/* Title for one page topic*/
/* One page topic locaion*/
.c_service__title{
    width: 100%;
    text-align: center;
}
.c_service__title h1{
    color: #303030;
    font-size: 35px;
    font-family: SFProText-Bold;
    margin-bottom: -40px;
}
/*--------------------------------------- Card Format----------------------------------------------- */
.l_card__text h1 {
    color: #303030;
    font-size: 40px;
    font-family: SFProText-Bold;
    margin: 0;
    margin-bottom: 72px;
}
.l_card__text p{
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #303030;
}

.c_card__service {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
}
/* For mobile the text after img will not shown */
.c_card__service .l_card__img + .l_article__wrapper{ 
    display: none; 
}
.l_card__text {
    width: 85%;
}
.l_card__text a{
    text-decoration: none;
    font-size: 16px;
    color: #138690;
    display: block;
    margin-top: 15px;
}
.l_card__text img{
    width: 18px;
    vertical-align: bottom;
}

.l_card__img img{
    width: 100%;
    border-radius: 4px;
}
.l_card__img{
    min-width: 300px;
    /* flex-basis: 50%; */
}
div.l_article__wrapper {
    width: 62%;
}
/* ---------------------------------Card with text go left, image go right-------------------------- */
/* For text go to left */
.txt_left div.l_article__wrapper {
    padding-left: 90px;
}
/* For image to go left */
.txt_left .l_card__img{
    width: 38%;
    float: left;
}

/* ----------------------------------Card with text go right, image go left------------------------------ */
/* For right text */
.txt_right article.l_card__text {
    margin-left: 15%;
}
section.c_card__service.txt_right {
    flex-direction: row-reverse;
}
/* Position for text to right  */
/* for text to right  */
.txt_right div.l_article__wrapper{
    float: right;
    padding-right: 90px;
}
/* For Image go to left */
.txt_right div.l_card__img{
    width: 38%;
    float: left;
}


@media only screen and (man-width: 980px) {
    section.c_card__service.txt_left.aos-init.aos-animate{
        width: 100%;
        margin: auto;
    }
    div#services-page{
        width: 100%;
    }
    .l_article__wrapper.l_pc{
        width: 100%;
    }
}