.l_solution__detail{
    background: url("../../assets/components/solutions/solution-detail/service-type-background.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    width: 100%;
    height: 40vh;
}
.l_solution__detail h1{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #303030;
  padding-top: 120px;
  margin: 0px;
}
.c_solution__detail___description{
    width: 100%;
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
    margin-bottom: 50px;
}
.c_solution__detail___description p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 1183px;
}

/* Solution Card */
/* Responsive l_solution__column */
     /*Card-solution desktop responsive  */
  /* Remove extra left and right margins, due to padding */
  .l_solution__row {
    width: 100%;
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px ;
  }
  /* Clear floats after the l_solution__column */
  .l_solution__row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Float four columns side by side */
  .l_solution__column {
    float: left;
    width: 31.3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 50px;
  }
  .l_solution__card img{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
     width: 100%;
  }
  .l_solution__decription{
    margin-top: 24px;
    text-align: left;
  }
  .l_solution__decription h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    color: #303030;
    margin-bottom: 10px;
  }
  .l_solution__decription p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
  }
 .c_solution__readmore p{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #138690;
  }
   .c_solution__readmore img{
    margin-top: -13px;
    float: left;
    width: 17.45px;
    height: 12px;
    margin-left: 81px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  /* Responsive on tablet */
  @media screen and (max-width: 1024px) and (min-width: 768px){
      .l_solution__detail h1{
          left: 32.7%;
      }
      .c_solution__detail___description{
          margin-top: 67px;
      }
      .c_solution__detail___description p{
          margin-left: 3.90%;
          margin-right: 3.90%;
      }
    .l_solution__column {
      float: left;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0px;
      width: 44.15%;
      padding-left: 3.90%;
    }
    .l_solution__decription{
      margin-top: 30px;
    }
    .l_solution__decription h1{
      margin-bottom: 20px;
    }
    .c_solution__readmore{
      margin-top: 15px;
    }
  }
  /* Responsive on mobile */
  @media screen and (max-width: 767px) and (min-width: 200px){
    .l_solution__detail h1{
        left: 50%;
    }
    .c_solution__detail___description{
        margin-top: 67px;
    }
    .c_solution__detail___description p{
        margin-left: 3.90%;
        margin-right: 3.90%;
    }
      .l_solution__column {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 65px;
      }
      .l_solution__decription{
        margin-top: 30px;
      }
      .l_solution__decription h1{
        margin-bottom: 58px;
      }
      .c_solution__readmore{
        margin-top: 15px;
      }
    }
 