<div class="l_solution__detail__container">
    <div class="c_solution_detail l_padding__left">
        <div class="c_jobspage_title">
            <a>Solutions</a>
            <img id="c_icon" src="../../assets/component/service-detail-page/arrow_right.svg">
            <a id="c_text">QR Code System</a>
        </div>
    </div>

    <div class="l_solution__section__wrapper">
        <header class="c_solution__section__header">
            <h1>Our Concept</h1>
        </header>
        <section class="c_section__wrapper focus">
            <article class="c_solution__section__artical">
                <div class="c_solution__section__text">
                    <p>With New way of QR code system, A2A Digital brings you to another level of using digital key or “QR Code” instead of
                    physical key. The QR code stands out with its three small squares placed in the lower and upper left corners and upper
                    right corner. The overall code has a square shape composed of a matrix of small squares. The fewer squares, the less
                    information the code contains and vice versa for more squares. Because information is contained in two directions, it
                    can hold a lot more data than a one-dimensional barcode</p>
                    <br/>
                    <p>With New way of QR code system, A2A Digital brings you to another level of using digital key or “QR Code” instead of
                    physical key. The QR code stands out with its three small squares placed in the lower and upper left corners and upper
                    right corner. The overall code has a square shape composed of a matrix of small squares. The fewer squares, the less
                    information the code contains and vice versa for more squares. Because information is contained in two directions, it
                    can hold a lot more data than a one-dimensional barcode</p>
                    <br/>
                    <p>With New way of QR code system, A2A Digital brings you to another level of using digital key or “QR Code” instead of
                    physical key</p>
                </div>
            </article>
        </section>
    </div>


    <div class="l_solution__section__wrapper">
        <header class="c_solution__section__header">
            <h1>Our Features</h1>
        </header>
    </div>
</div>
