<div>
    <div class="l_solution__detail">
        <h1>AI Development</h1>
    </div>
    <div class="c_solution__detail___description">
        <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
    </div>
</div >