.solution_container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left:90px;
    padding-right: 90px;
    display: block;
    margin-top: 100px;
}
.c_solution_title {
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #BCCDD7;
}
#c_icon_solution {
    width: 20px;
    height: 10px;
}
.l_solution__section__wrapper{
    text-align: center;
    margin-top: 80px;
}
 .l_solution__section__wrapper h1{
     margin:0px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.focus div.c_solution__section__text {
    float: none;
    width: 100%;
    text-align: justify;
}

.c_solution__section__artical {
    padding-top: 40px;
}

.c_solution__section__artical p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}
.c_solution__section__text p {
    margin: 0;
}

.c_solution__section__text {
    float: left;
    width: 85%;
}

@media only screen and (max-width: 1024px) and (min-width: 720px){
    .solution_container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 719px) and (min-width: 250px){
    .solution_container{
        padding-left: 13px;
        padding-right: 13px;
    }
}