#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:  SSFProText-Regular;
  src: url("../assets/fonts/SFProText-Regular.ttf");
  background-color: #ffffff;
  height: 3574px;
  
}
body{
  margin: 0;
}
@font-face {
  font-family: SFProText-Bold;
  src: url("../assets/fonts/SFProText-Bold.ttf");
}
@font-face {
  font-family: SFProText-Medium;
  src: url("../assets/fonts/SFProText-Medium.ttf");
}
@font-face {
  font-family: SSFProText-Regular;
  src: url("../assets/fonts/SFProText-Regular.ttf");
}