body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

a,a:visited,a:focus {
  text-decoration: none;
  color: initial;
}

a:focus,
button:focus {
  outline: none !important;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

#app {
  font-family:  SFProText-Regular;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.l_contrainer {
  margin-top: 80px;
}

@font-face {
  font-family: SFProText-Bold;
  src: url("../assets/fonts/sf-pro-display-bold-webfont.woff");
}
@font-face {
  font-family: SFProText-Regular;
  src: url("../assets/fonts/sfprotext-regular-webfont.woff");
}