body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  font-family:  SFProText-Regular;
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color : #303030;
}

.l_contrainer {
  margin-top: 70px;
}

@font-face {
  font-family: SFProText-Bold;
  src: url("../assets/fonts/sf-pro-display-bold-webfont.woff");
}
@font-face {
  font-family: SFProText-Regular;
  src: url("../assets/fonts/sfprotext-regular-webfont.woff");
}