.l_profile-page{
    position: relative;
    height: 100%;
    margin: auto 90px;   
}

.l_profile__title{
    font-size: 45px;
    text-align: center;
}

.l_profile__subtitle{
    font-size: 45px;   
    text-align: center;
}

.l_card__profile {
    margin: auto;
    display: flex;
    text-align: justify;
}

.l_card_detail {
    margin: auto;
    padding-bottom: 110px;
}

.c_cart__text {
    width: 48%;
    height: auto;
}

.c_img_right {
    float: right;
    width: 48%;
}
.c_img_left {
    float: left;
    width: 48%;
}

.c_card__img{
    width: 100%;
    height: auto;
    margin-top: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    float: inherit;
}
.right {
    margin-top: -100px;
}
.text_right {
    float: right;
}

.l_profile-page h2 {
    font-size: 35px;
    font-weight: bold;
    color:#000000;
}

.l_profile-page h3 {
    font-size: 20px;
    color: #847F7F;
}

.l_profile-page p {
    font-size: 16px;
    color: #000000;
}



@media screen and (max-width: 1024px) {
    .l_profile__title{
        font-size: 32px;
        text-align: center;
    }
    .l_profile__subtitle{
        font-size: 32px;   
        text-align: center;
    }
    .l_profile-page h2 {
        font-size: 25px;
    }
    .l_profile-page h3 {
        font-size: 14px;
    }
    .c_cart__text {
        width: 100%;
        height: auto;
    }
    .c_card__img {
        margin: 20px 0px ;
    }
    .c_img_right {
        float: right;
        width: 100%;
    }
    .right {
        margin: 40px 0px;
    }
    .c_img_left {
        float: left;
        width: 100%;
    }    
}

@media screen and (max-width: 768px) {
    .l_profile-page{
        margin: auto 20px;   
    }
    .l_profile__title{
        font-size: 32px;
        text-align: center;
    }
    .l_profile__subtitle{
        font-size: 32px;   
        text-align: center;
    }
    .l_profile-page h2 {
        font-size: 25px;
    }
    .l_profile-page h3 {
        font-size: 12px;
    }
    .c_cart__text {
        width: 100%;
        height: auto;
        text-align: initial;
    }
}



