#solution_container{  
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 90px;
        padding-right: 90px;
}
@media screen and (max-width: 1024px) and (min-width: 720px){
#solution_container{
    padding-right: 30px;
    padding-left: 30px;
}
}
@media screen and (max-width: 660px) and (min-width: 250px){
    #solution_container{
        padding-right: 13px;
        padding-left: 13px;
    }
}
   