<div class="l_service__technology__container">
    <header class="c_service__section__header">
        <h1> Technologies​ for AI Development</h1>
    </header>
    <div class="l_service__technology__section">
        <div class="c_service__technology__flex__container">
            <div class="center">
                <div class="flex-item">
                    <div class="c_card__img">
                        <img src="../../assets/service-detail-page/logo/tensorflow.svg">
                    </div>
                    <div class="c_text_card">
                        <h1>TensorFlow</h1>
                    <p>TensorFlow is an open-source library that was originally developed by researchers and engineers working with google brain team. It has APIs available in several languages both for constructing and executing a TensorFlow graph. It’s a numerical computation, data using TensorFlow developers for data graphs.</p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="c_card__img">
                        <img src="../../assets/service-detail-page/logo/dialogflow.svg">
                    </div>
                    <div class="c_text_card">
                        <h1>DialogFlow</h1>
                        <p>DialogFLow is a natural language understanding platform that makes it easy to design and integrate a conversational user interface into your mobile app, web application, device, bot, interactive voice response system, and more. Using DialogFlow, you can engaging ways for users to interact with your product</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="c_service__technology__flex__container">
            <div class="center">
                <div class="flex-item">
                    <div class="c_card__img">
                        <img src="../../assets/service-detail-page/logo/opencv.svg">
                    </div>
                    <div class="c_text_card">
                        <h1>OpenCV</h1>
                    <p>OpenCV is an open source computer vision and machine learning software library. It was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products. It makes it easy for businesses to utilize and modify the code.</p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="c_card__img">
                        <img src="../../assets/service-detail-page/logo/dlib.svg">
                    </div>
                    <div class="c_text_card">
                        <h1>Dlib </h1>
                        <p>Dlib is a modern C++ toolkit containing machine learning algorithms and tools for creating complex software i n C++ to solve real world problems. We used python to wrapping on it which to provide python api.</p>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>