<div class="l_service__detail__container">
    <div class="c_jobspage_detail l_padding__left">
        <div class="c_jobspage_title">
            <a>Job Opening</a>
            <img id="c_icon" src="../../assets/arrow_right.svg">
            <a id="c_text">Front-end Developer</a>
        </div>
    </div>
    <div class="l_service__section__wrapper">
        <header class="c_service__section__header">
            <h1> Artificial Intelligene</h1>
        </header>
        <section class="c_section__wrapper">
            
            <article class="c_service__section__artical">
                <div class="c_service__section__text">
                    <h2>What is artificial intelligene ?</h2>
                    <p>Artificial intelligence (AI) can be enhanced the customer experience in recognition object, chatbot for chat automation, GAN AI is Generative Adversarial Network and more. With AI Services from A2A Digital solution, you can improve the business and automation the interaction with customers and increase work efficiency for business.</p>
                </div>
                <div class="c_service__section__img"><img src="../../assets/service-detail-page/icon/chip.svg"></div>
                </article>
        </section>
    </div>
    <div class="clear"></div>
    <div class="l_service__section__wrapper">
        <header class="c_service__section__header">
            <h1> Our Focus Areas</h1>
        </header>
        <section class="c_section__wrapper focus">
            <article class="c_service__section__artical">
                <div class="c_service__section__text">
                    <p>A2A Digital is an IT solution company growing with cutting edge technology service provider. Among that, we provide artificial Intelligence service, we aim to deliver artificial Intelligence solutions into different business verticals and sectors while enhancing business performance.</p>
                </div>
            </article>
        </section>
    </div>
</div>