<div class="l_service__detail__container">
    <div class="l_service__section__wrapper" v-for="title in header">
        <header class="c_service__section__header">
            <h1>{{title['title']}}</h1>
        </header>
        <section class="c_service__section___wrapper">
            <div class="c_service_content__header">
            <article class="c_service__section__artical">
                <div class="c_service__section__text">
                    <h2>{{title['question']}}</h2>
                    <p>{{title['description']}}</p>
                </div>
                <div class="c_service__section__img">
                    <img :src="'../assets/component/service/' + route + '/header/'  + title['imagePath']">
                </div>
            </article>
             </div>
        </section>
    </div>
</div>