<div  class="l_service__detail__container">
    <div class="c_jobspage_detail l_padding__left">
        <!-- <h2>{{header}} ffffff</h2> -->
    </div>
    <div class="l_service__section__wrapper">
        <header class="c_service__section__header">
            <h1> {{header[0]['title']}}</h1>
        </header>
        <section class="c_section__wrapper">
            
            <article class="c_service__section__artical">
                <div class="c_service__section__text">
                    <h2>{{header[0]['question']}}</h2>
                    <p>{{header[0]['description']}}</p>
                </div>
                <div class="c_service__section__img">
                    <img src="../../assets/service-detail-page/icon/chip.svg">
                </div>
                </article>
        </section>
    </div>
    <div class="clear">

    </div>
    <div class="l_service__section__wrapper">
        <header class="c_service__section__header">
            <h1> {{header[1]['title']}}</h1>
        </header>
        <section class="c_section__wrapper focus">
            <article class="c_service__section__artical">
                <div class="c_service__section__text">
                    <p>{{header[1]['description']}}</p>
                </div>
            </article>
        </section>
    </div>
</div >