#l_about-ceo {
    padding-top: 60px;
}

#l_about-ceo > p {
    margin-bottom: 30px;
}

#l_about-ceo > p:nth-last-child(1) {
    margin-bottom: 0;
}

p.l_quote {
    font-size: 24px;
    line-height: 29px;
    color: #138690;
}

.l_ceo-img-1 {
    float: right;
    width: 40%;
    border-radius: 4px;
    margin: 15px 0 25px 25px;
    display: none;
}

.l_ceo-img-2 {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* ----------------------------------------------------mobile layout------------------------------------------ */
@media (min-width: 960px) {
    .l_ceo-img-1 {
        display: block;
    }

    .l_ceo-img-2 {
        display: none;
    }

    .md-visible {
        visibility: visible;
        display: block;
    }
}

@media (min-width: 1264px) {
}