.l_partnerPage {
  margin-top: 80px;
}

.l_partnerPage h1 {
  font-size: 35px;
  text-align: center;
}

.l_logo_container {
  justify-content: center;
  padding-left: 163px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.l_logo_container:after {
    content: "";
    display: table;
    clear: both;
}

.c_logo_partner{
    float: left;
    width: 25%;
}

.c_logo_partner > img {
  max-width: 127px;
  height: 70px;
}

@media screen and (max-width: 600px) {
  .c_logo_partner {
    width: 50%;
    margin-top: 0;
    margin-left: 0;
  }
}
