.l_partnerPage {
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}

.l_partnerPage .l_head h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #303030;
  font-size: 35px;
  font-weight: bold;
}

.l_groupPartners {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}


.l_groupPartners > img {
  width: 75%;
  height: 130px;
  padding-left: 15%;
  padding-top: 30px;
}


@media screen and (max-width:600px) {
  .l_groupPartners {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .l_last__logo {
    padding-left: 0px;
  }

  .l_groupPartners > img {
    padding-left: 60px;
    padding-top: 50px;
  }
}