<div class="l_partnerPage">
    <h1>Partners</h1>
    <div class="l_groupPartners">
        <div class="c_partner">
            <img src="../../assets/kit_logo.svg" alt="Partner Logo">
        </div>
       <div class="c_partner">
           <img src="../../assets/a2a_town_logo.svg" alt="Partner Logo">
       </div>
       <div class="c_partner">
           <img src="../../assets/kit_logo.svg" alt="Partner Logo">
       </div>
       <div class="c_partner">
           <img src="../../assets/a2a_town_logo.svg" alt="Partner Logo">
       </div>
    </div>
</div>
