<div id="partner-page" class="l_partnerPage">
    <h1>Partners</h1>
    <div class="l_groupPartners">
        <div class="l_logo_container">
            <div>
                <div class="c_logo_partner">
                    <img src="../../assets/kit_logo.svg" alt="Partner Logo">
                </div>
                <div class="c_logo_partner">
                    <img src="../../assets/a2a_town_logo.svg" alt="Partner Logo">
                </div>
            </div>
            <div>
                <div class="c_logo_partner">
                    <img src="../../assets/kit_logo.svg" alt="Partner Logo">
                </div>
                <div class="c_logo_partner">
                    <img src="../../assets/a2a_town_logo.svg" alt="Partner Logo">
                </div>
            </div>
        </div>
    </div>
</div>
