.l_partnerPage {
  width: 100%;
  height: 170px;
  left: 0px;
}

.l_partnerPage h1 {
  font-family: SF Pro Text;
  font-size: 35px;
  text-align: center;
}

.l_groupPartners {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 100px 80px 100px 80px;
}

.l_groupPartners .c_partner img {
  max-width: 127px;
  height: 70px;
}

@media only screen and (max-width: 800px) {
  .l_groupPartners {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .l_groupPartners .c_partner img {
    max-width: 127px;
    height: 70px;
  }
}
