<div class="l_jobheader">
        <h3 class="c_jobtitle">
        Take a look    </h3>
          <h4 class="c_subtitle">
        What excites you?    </h4>
    <div class="l_groupedview">
                <ul>
                    <li>
                        <a class="c_jobbtn jobbtn_primary" href="#">All</a>
                        <a v-for = "jobbtn in jobbtns"class="c_jobbtn jobbtn_revered" data-value=""  href="#">{{jobbtn.department}}</a>
                    </li>
                </ul>
        </div>
</div>