.l_solution__overall__container{
    width: 100%;
    margin-top: 80px;
    display: block;
}
.l_solution__overall__wrapper {
    display: block;
}
.l_solution__overall__wrapper header{
    text-align: center;
    margin-bottom: 40px;
}
/* ------------------------------------------format ------------------------------- */

.c_solution__overall__header h1{
    margin: 0px;
    text-align: center;
    font-family: SFProText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}