<div class="cloud_service__container">
    <div class="l_service__detail__container">

        <div class="l_service__section__wrapper">
            <header class="c_service__section__header" style="margin-top: 90px;">
                <h1> Cloud Computing</h1>
            </header>
            <section class="c_section__wrapper">
                
                <article class="c_service__section__artical">
                    <div class="c_service__section__text">
                        <h2>What is Cloud Computing?</h2>
                        <p>Cloud computing is the delivery of computing services including servers, storage, databases, networking, software, analytics, and intelligence over the Internet (“the cloud”) to offer faster innovation, flexible resources, and economies of scale. You typically pay only for cloud services you use, helping lower your operating costs, run your infrastructure more efficiently and scale as your business needs change.</p>
                    </div>
                    <div class="c_service__section__img"><img src="../../assets/service-detail-page/cloud/icon/cloud.svg"></div>
                    </article>
            </section>
        </div>
        <div class="clear"></div>
        <div class="l_service__section__wrapper">
            <header class="c_service__section__header">
                <h1> Our Focus Areas</h1>
            </header>
            <section class="c_section__wrapper focus">
                <article class="c_service__section__artical">
                    <div class="c_service__section__text">
                        <p>A2A Digital is an IT solution company growing with cutting edge technology service provider. Among that, we provide Cloud Computing service, we aim to deliver Cloud Computing solutions into different business verticals and sectors while enhancing business performance.</p>
                    </div>
                </article>
            </section>
        </div>
    </div>

<!--------------------------------------------Service Cloud Detail Section ------------------------------------------  -->
    <div class="c_service__card__container">
        <div class="flex-container">
            <div class="center">
                <div class="flex-item">
                    <img src="../../assets/service-detail-page/cloud/icon/google-cloud.svg">
                    <h1>Google Cloud Platform (GCP)</h1>
                    <p>GCP consists of a computer, hard disk drives and virtual machines (VMs). it gives you options for computing and hosting.You can work in a serverless, use a managed platform, leverage container technologies to gain lots of flexibility, build your own cloud-based infrastructure to have the most control and flexibility. Our company gives support and service for our client to upgrade their traditional server to GCP cloud.</p>
                </div>
                <div class="flex-item">
                    <img src="../../assets/service-detail-page/cloud/icon/amazon.svg">
                    <h1>Amazon Web Service (AWS)</h1>
                    <p>WS cloud provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis. These cloud computing web services provide a set of primitive abstract technical infrastructure and distributed computing building blocks and tools. With our support, we maintain our client web service and move to AWS service which makes company website more secure and customizable.</p>
                
                </div>
                <div class="flex-item ">
                    <img src="../../assets/service-detail-page/cloud/icon/digitalocean.svg">
                    <h1>DigitalOcean</h1>
                    <p>Digital Ocean is a cloud infrastructure provides developers cloud services that help to deploy and scale application that run simultaneously on multiple computers. It offers an Infrastructure as a Service (IaaS) platform for software developers. It is very popular with open source developers and competes with AWS and GCP. Our service is to migrate client’s server to DigitalOcean Cloud platform and deploy to DigitalOcean’s IaaS environment and also maintain the service.</p>
                </div>
            </div>   
                 
        </div>
        <!-- <div class="flex-container">
            <div class="center">
                <div class="flex-item ">
                    <img src="../../assets/service-detail-page/icon/predictive-chart.svg">
                    <h1>Predictive Analytics </h1>
                    <p>This advanced technique encompasses a variety of statistical techniques from data mining to predictive modeling. Our company provides the service and contribute to the business and make the improvement. Using this technology, we help you analyze, design, and search for new possibilities in business while making full use of advanced technologies.</p>
                </div>
                <div class="flex-item ">
                    <img src="../../assets/service-detail-page/icon/voice-recognition.svg">
                    <h1>Voice Recognition  </h1>
                    <p>Voice Recognition is alternatively referred to as speech recognition, voice recognition is a computer software program or hardware device with the ability to decode the human voice. It is commonly used to operate a device, perform commands, or write without having a keyboard, mouse or press any button.</p>
                </div>
            </div>        
        </div> -->
    </div>
<!-- -----------------------**********End Cloud Service Card********************* -----------------------------------------  -->
<!-- ------------------------------------Start Service Cloud Compare --------------------------- -->
    <div class="c_ai_important__container">
        <section class="c_ai__important__section">
            <div class="c_ai__description__container">
                <article class="l_ai_description__wrapper">
                    <header class="l_description__header">
                        <h1>Cloud Management System</h1>
                    </header>
                    <p>
                        Cloud Management System is how admins have control over everything that operates in a cloud: the users, data, applications, and services. Cloud management tools help admins oversee all types of cloud activities, such as resource deployment, use tracking, data integration, and even disaster recovery. Cloud management tools provide administrative control over the infrastructure, platforms, applications, and data that together create a cloud. 
                        <br><br>We are providing a cloud management system as a service which typically deployed into existing cloud environment as a virtual machine (VM) that contains a database and a server to communicate with APIs to connect to the database and the virtual resource holding up the cloud.  </p>
                </article>
            </div>
            <div class="c_cloud__compare__container">
                <header class="l_cloud__compare__header">
                    <h1>Multi Cloud vs. Hybrid Cloud</h1>
                    <p>The confusion between multi cloud and hybrid cloud is compounded by the fact that they’re often used interchangeably. Although it can seem like a semantic argument, there is a real difference between the two.</p>
                </header>
                <article class="l_cloud__comparison__wrapper">
                    <div class="l_cloud__type">
                        <h1> Multi Cloud</h1>
                        <p>Multi Cloud means using multiple different public cloud services, often from multiple different providers. Its environment starts with multiple public clouds but encompasses every aspect of IT ecosystem, including private cloud and other on-premises deployments. The different clouds may used for various tasks to achieve best-of-breed results or to reduce vendor lock-in. Multiple clouds also give clients added peace of mind by minimizing dependance on any one provider, often decreasing costs and increasing flexibility.</p>
                    </div>
                    <div class="l_cloud__type">
                        <h1>Hybrid Cloud</h1>
                        <p>Hybrid Cloud is different from multi cloud, it is a combination of private and public clouds toward the same purpose while multi cloud always includes multiple public clouds but can also incorporate physical and virtual infrastructure (including private clouds). The components of a hybrid cloud typically work together unlike a multi cloud model which different clouds are used for different tasks. Data and processes tend to intermingle and intersect in a hybrid environment.</p>
                    </div>
                    
                </article>
               
            </div>
        </section>
    </div>
<!-- -----------------------------------Start Cloud Computing Important ------------------------------------------- -->
    <div class="c_ai_important__container">
        <section class="c_ai__important__section">
            <div class="c_ai__description__container">
                <article class="l_ai_description__wrapper">
                    <header class="l_description__header">
                        <h1>Why A2A Digital gives the best Cloud Computing service </h1>
                    </header>
                    <p>
                        A2A Digital provides migration plans, technical assistance and credits available to make it easy for clients. We give partners to grow their businesses leveraging with our service. We make it easy for our clients to deploy and modernize their infrastructures.
                    </p>
                </article>
            </div>
            <div class="c_ai__important__point__container">
                <header class="l_ai__important__header">
                    <h1>AI benefits for Business</h1>
                </header>
                <article class="l_ai__impartant__wrapper">
                    <div class="l_important__img">
                        <img src="../../assets/service-detail-page/cloud/image/cloud-computing-for-business.png" alt="">
                    </div>
                    <div class="l_why__ai">
                        <ul>
                            <li>Cloud hosting saves your money </li>
                            <li>Instantly scalable resources and pay as you go notification</li>
                            <li>High availability</li>
                            <li>Lightning fast performance</li>
                            <li>Increase security against hacking, infection and internal data theft</li>
                            <li>More flexible working</li>
                        </ul>
                    </div>
                </article>
                <hr>
            </div>
        </section>
    </div>
<!-- -------------------------------------------Start Service Contact Form ------------------------------------------------- -->
    <div class="c_sevice_form_right">

        <div class="c_sevice_form_wrapper">
        <div class="c_sevice_form_caption">
            <h1>Send Us A Message</h1>
            <p>Please fill the form below to get in touch with us.</p>
        </div>  
        <div class="c_sevice_form_register"> 

            <div class="c_sevice_form_username_mail">

                <div class="c_sevice_form_username">
                <label for="username-login" class="sevice_form-label">Name*</label>
                <input class="c_sevice_form_input" type="text" name="username" >
                </div>
                <div class="c_sevice_form_mail">
                <label for="Mail" class="sevice_form-label">Email*</label>
                <input class="c_sevice_form_input" type="email" name="email">
                </div>
            </div> 

            <div class="c_sevice_form_username_mail">
            <div class="c_sevice_form_feedback">
                <label for="country" class="sevice_form-label">How can we help you ?*</label>
                <input class="c_sevice_form_input" type="text" name="feedback" >
            </div>  
            </div>

            <div class="c_sevice_form_username_mail">
                <div class="c_input_sumit">
                <button type="button" class="submit_btn">Get In Touch</button>          
                </div>
            </div>

        </div>  

        </div>
    
    </div>

</div>