.l_cloud__compare {
    max-width: 1185px;
    margin: 50px auto;
    display: block;
}

.l_cloud__compare__header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #303030;
    margin: 0;
}

.l_cloud__compare__header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
    max-width: 674px;
    margin: auto;
    margin-top: 20px;

}

.l_cloud__comparison__wrapper {
    width: 100%;
    margin: 0;
    display: block;
}

.l_cloud__type {
    display: block;
    max-width: 1186px;
    margin: auto;
}

.l_cloud__type h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #138690;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 50px;
}

.l_cloud__type p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin: 0;
}

@media only screen and (max-width: 1366px) {
    .l_cloud__compare {
        padding-left: 90px;
        padding-right: 90px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .l_cloud__compare {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media only screen and (max-width: 719px) {
    .l_cloud__compare {
      padding-left: 15px;
      padding-right: 15px;
    }
  }