@media only screen and (max-width: 1366px) {
    .c_section__wrapper {
        width: 100%;
    }
}

/* -------------------------------------Start Service Detail Card css-------------------------------- *//* Change the screen size to see the content adapt but columns stay same height. By default, flexbox will do this unless you define a different align-items declaration on the flex container. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c_service__card__container {
    margin-top: 50px;
}

.c_service__card__container div.center {
    /* width: 1186px; */
    display: flex;
    justify-content: center;
}

.c_service__card__container div.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: calc((100% - 1186px) / 2); */
}

.c_service__card__container div.flex-item {
    width: 375px;
    padding: 32px 15px;
    color: #303030;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 25px;
    float: left;
}

.c_service__card__container div.flex-item img {
    width: 70px;
}

.c_service__card__container div.flex-item h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #138690;
}

.c_service__card__container div.flex-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* text */
    color: #303030;
    text-align: left;
}


.c_service__card__container div.flex-item:nth-of-type(1) {
    margin-right: 25px;
}

.c_service__card__container div.flex-item:nth-of-type(2) {
    margin-right: 25px;
}

.c_service__card__container div.flex-item:nth-of-type(4) {
    margin-right: 25px;
}

.c_service__card__container div.flex-item:nth-of-type(5) {
    margin-right: 25px;
}

/* .flex-item:nth-of-type(4) {
  background-color: #542437;
}  */

@media only screen and (max-width: 1366px) {
    .c_service__card__container div.flex-container {
        padding: 0 90px;
    }

    .c_service__card__container div.flex-item {
        width: calc((100% / 3) - 17.5px);
    }

    .c_service__card__container div.center {
        justify-content: flex-start;
        /* padding-left: calc(10% - 50px); */
    }

}

@media only screen and (max-width: 768px) {
    .c_service__card__container div.flex-container {
        padding: 0 20px;
    }

    .c_service__card__container div.center {
        padding: 0;
        display: block;
    }

    .c_service__card__container div.flex-item {
        width: 100%;
    }

}

/* -----------------------------------------Start Service Cloud Compare---------------------------- */
.c_cloud__compare__container {
    width: 100%;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.l_cloud__compare__header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #303030;
    margin: 0;
}

.l_cloud__compare__header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
    max-width: 674px;
    margin: auto;
    margin-top: 20px;

}

.l_cloud__comparison__wrapper {
    width: 100%;
    margin: 0;
    display: block;
}

.l_cloud__type {
    display: block;
    max-width: 1186px;
    margin: auto;
}

.l_cloud__type h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #138690;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 50px;
}

.l_cloud__type p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin: 0;
}

@media only screen and (max-width: 1366px) {
    .c_cloud__compare__container {
        padding-left: 90px;
        padding-right: 90px;
    }

}

@media only screen and (max-width: 768px) {
    .c_cloud__compare__container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

