<section class="l_job__fullbleed job_blue__bg"> 
    <div class="c_job_textcenter"> 
        <h2>Join our Team</h2> 
        <p>
            We’re looking for talented people with an insatiable appetite for developing and marketing cutting edge products that will connect people like never before.
        </p> 
    </div>
     <div class="l_job__row">
        <div class="c_job__halfglyph"> 
            <img src="../../assets/components/jobsPage/customer-support.svg" alt="SameSurf for Cobrowsing">
            <p>Build and Market Bleeding Edge Technologies that are Revolutionizing the Ways We Connect Online</p>
        </div> 
        <div class="c_job__halfglyph"> 
            <img src="../../assets/components/jobsPage/group.svg" alt="SameSurf for Cobrowsing"> 
            <p> Join a Dedicated Team of Engineers who are always Innovating the Samesurf platform </p>
        </div> 
        <div class="c_job__halfglyph">
            <img src="../../assets/components/jobsPage/puzzle.svg" alt="SameSurf for Cobrowsing">
            <p> Become Part of a Select Group of Salespeople who are Passionate about Online Collaboration </p> 
        </div> 
        <div class="c_job__halfglyph"> 
            <img src="../../assets/components/jobsPage/heart.svg" alt="SameSurf for Cobrowsing"> 
            <p> Advance your Career in a Fun and Fast-Paced Environment where Individuality is Encouraged </p> 
        </div> 
    </div> 
 </section>