#c_form_left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    float: left;
    width: 48%;
    height: 100vh;
    margin-top: -70px;
    opacity: 0.9;
    background-image: url(../../../public/assets/component/contact-form/ce2119628556c4b51e118d287fad05c8.jpeg);
}

#c_form_right {
    /* overflow: hidden; */
    float: right;
    width: 52%;
    height: 759px;
    padding-top: 80px;

}

.c_information {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 55px;

}

#c_form_logo {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.logo {
    margin: 0;
}
.c_address_add {
    display: flex;  
}
.infor_add {
    margin-bottom: 40px;
    padding-left: 37px;

}
.c_address {
    display: flex;
    margin-top: 40px;
}

.c_phone_logo {
    margin: 0;
}

.c_mail_logo {
    margin: 0;
}
.map {
    
    width: 100%;
    height: 245px; 
}
.c_map {
    padding-right: 35px;

}
.infor {
    padding-left: 37px;
    padding-right: 46px;
}

#c_form_title {
    padding: 0 60px;
}

.c_form h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
}

#c_input_info {
    margin-top: 30px;
    display: flex;
    border: 0;
}

.c_form_username {
    display: flex;
    flex-direction: column;
    width: 30%;
    float: left;
    padding-top: 20px;
    color: #BABABA;
}
.text-danger {
    color: red;
}

#c_form_username_mail {
    display: flex;
}

.form-control{
    border-bottom: 1px solid #303030;

}

.c_form_mail {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
    padding-top: 20px;
    color: #BABABA;
    float: left;
}

.c_form_country {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    color: #BABABA;
    float: left;
    border-bottom: 1px solid #303030;
}

.c_form_feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    color: #BABABA;
    float: left;
}
#c_form_fb {
   
        resize: none; 
        min-height: 110px;
      
}

#input_username {
    padding-top: 23px;
}

.c_form_sumit {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;

}

.submit_btn {
    margin-top:10px;
    /* color: black; */
    padding: 20px 20px;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: solid 1px;
    border-radius: 4px;
    width: 100%;
}

#c_input_sumit {
    width: 100%;
    margin-top: 40px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}

.submit_btn:hover {
    color: #FFFFFF;
    background-color: rgb(19, 134, 144);
}

input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1em;
    padding: 8px 1px;
    margin-top: 0.1em;
}



@media only screen and (max-width: 980px) {

    #c_form_left {
        /* float: left; */
        /* overflow: hidden; */
        height: unset;
        width: 100%;
        margin-top: unset;

    }

    .c_info_all {
        width: 980px;
        height: 335px;
        background-color: #BDFFF0;
    }

    .c_information {
        padding: 30px 110px;
    }
    .c_map {
        padding: unset
    }

    #c_form_right {
        /* overflow: hidden; */
        width: 100%;
        padding-top: 40px;
        padding-left: 90px;
    }

    #c_form_title {
        padding: unset;
    }

    #c_form_massage {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    #c_form_register {
        padding: 40px;
    }
   
}

@media only screen and (max-width: 415px) {
    .c_information {
        padding:unset;
    }
    .infor_add {
        padding-left: 53px;  
    }  
    .infor {
        padding-left: 53px;    

    }
    .c_address_add {
        padding: 10px 20px;
    }
    .c_address {
        padding: 10px 20px;

    }
    .c_form_username {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: left;
        padding-top: 20px;
        color: #BABABA;
    }
    
    #c_form_username_mail {
        display: flex;
    }
    .form-control{
        border-bottom: 1px solid #303030;
    
    }
    
}