<div id="c_form">
  <div id="c_form_left">
    <div class="c_information">
      <p class="logo"> <img alt="Address" id="c_form_logo" src="../../assets/address.svg"> Address</p>  
      <p class="infor"> #253, 255 E0, Borey Bipup Thmey-Boeung Chhouk Road 2011 (Ouknhar Tri Heng Road), Street E; Khan Posenchey Phnom Penh Cambodia;</p>
      <p class="c_phone_logo"><img alt="Phone" id="c_form_logo" src="../../assets/telephone.svg"> Phone Number</p> 
      <p class="infor"> 096 393 9393</p>
      <p class="c_mail_logo"><img alt="Mail" id="c_form_logo" src="../../assets/email.svg">Email</p> 
      <p class="infor"> a2a.digital@info.com</p>
    </div>
  </div>  
  <div id="c_form_right">

    <div id="c_form_title">
      <h1>Send Us A Message</h1>
    <form>
      <div id="c_form_username_mail">
          <div class="c_form_username">
            <label for="username-login" class="form-label">Name*</label>
            <input id="c_form_input" type="text" name="username" >
          </div>
          <div class="c_form_mail">
            <label for="Mail" class="form-label">Email*</label>
            <input id="c_form_input" type="email" name="email">
          </div>
        </div>
          <div class="c_form_country">
            <label for="country" class="form-label">City, Country</label>
            <input id="c_form_input" type="text" name="country" >
          </div>  
          <div class="c_form_feedback">
            <label for="country" class="form-label">How can we help you ?*</label>
            <input id="c_form_input" type="text" name="feedback" >
          </div>  
          <div id="c_input_sumit">
            <button type="button" class="button">Get In Touch</button>          </div>
      
    </form>
    </div>
  
  </div>

</div>

<!-- <form>
  <div id="c_input_info">
    <label for="fname">Name*</label>
      <input type="text" id="fname" name="firstname" placeholder="______________________________">

    <label for="email">Email*</label>
      <input type="text" id="email" name="Email" placeholder="______________________________">
  </div>
  <div id="c_input_city">      
    <label for="country">City, Country</label>
      <input type="text" id="country" name="country" placeholder="______________________________">
  </div>
  <div id="c_input_sumit">
  <label for="text">Subject</label>
  <textarea id="subject" name="subject" placeholder="Write something.." style="height:30px"></textarea>
  <input type="submit" value="Submit">
  </div>
</form> -->