<div id="c_form">

  <div id="c_form_left">

    <div class="c_information">

      <div class="c_address">
        <img alt="Address" id="c_form_logo" src="../../assets/address.svg"> 
        <p class="logo"> Address</p> 
      </div> 
      
      <p class="infor"> #253, 255 E0, Borey Bipup Thmey-Boeung Chhouk Road 2011 (Ouknhar Tri Heng Road), Street E; Khan Posenchey Phnom Penh Cambodia;</p>
      
      <div class="c_address">
        <img alt="Phone" id="c_form_logo" src="../../assets/telephone.svg"> 
        <p class="c_phone_logo">Phone Number</p> 
      </div> 
      
      <p class="infor"> 096 393 9393</p>
      
      <div class="c_address">
        <img alt="Mail" id="c_form_logo" src="../../assets/email.svg">
        <p class="c_mail_logo">Email</p>
      </div>
      
      <p class="infor"> a2a.digital@info.com</p>
    
    </div>

  </div>  

  <div id="c_form_right">

    <div id="c_form_title">
      <div id="c_form_massage">
        <h1>Send Us A Message</h1>
      </div>  
      <div id="c_form_register"> 

        <div id="c_form_username_mail">

            <div class="c_form_username">
              <label for="username-login" class="form-label">Name*</label>
              <input id="c_form_input" type="text" name="username" >
            </div>
            <div class="c_form_mail">
              <label for="Mail" class="form-label">Email*</label>
              <input id="c_form_input" type="email" name="email">
            </div>
        </div> 

        <div id="c_form_username_mail">
            <div class="c_form_country">
              <label for="country" class="form-label">City, Country</label>
              <input id="c_form_input" type="text" name="country" >
            </div>  
        </div>

        <div id="c_form_username_mail">
          <div class="c_form_feedback">
              <label for="country" class="form-label">How can we help you ?*</label>
              <input id="c_form_input" type="text" name="feedback" >
          </div>  
        </div>

        <div id="c_form_username_mail">
            <div id="c_input_sumit">
              <button type="button" class="submit_btn">Get In Touch</button>          
            </div>
        </div>

      </div>  

    </div>
  
  </div>

</div>

<!-- <form>
  <div id="c_input_info">
    <label for="fname">Name*</label>
      <input type="text" id="fname" name="firstname" placeholder="______________________________">

    <label for="email">Email*</label>
      <input type="text" id="email" name="Email" placeholder="______________________________">
  </div>
  <div id="c_input_city">      
    <label for="country">City, Country</label>
      <input type="text" id="country" name="country" placeholder="______________________________">
  </div>
  <div id="c_input_sumit">
  <label for="text">Subject</label>
  <textarea id="subject" name="subject" placeholder="Write something.." style="height:30px"></textarea>
  <input type="submit" value="Submit">
  </div>
</form> -->