
.l_footer {
    width: 100%;
    position: relative;
    top: 550px;
}
.c_footer {
    width: 100%;
    height: 70px;
    background-color: #138690;
}
.c_footer__logo {
    padding: 22px ;
    padding-left: calc(10.32% - 50px);
    padding-right: calc(10.32% - 50px);
}
.c_logo__left {
    float: left;

}
.c_logo_footer {
    width: 138.37px;
    height: 25px;
}
.c_sm_right {
    float: right;
}
.c_sm {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}
