<div class="l_footer">
    <div class="c_footer">
        <div class="c_footer__logo">
            <div class="c_logo__left">
                <a href="#">
                    <img class="c_logo_footer" src="../../assets/logo_white.svg">
                </a>
            </div>
            <div class="c_sm_right">
                <a href="#">
                    <img class="c_sm" src="../../assets/facebook.svg" alt="#">
                    <img class="c_sm" src="../../assets/linkedin_icon.svg" alt="#">
                    <img class="c_sm" src="../../assets/twitter.svg" alt="#">
                </a>
            </div>
        </div>
    </div>
</div>

