  .c_logo_footer {
    width: 138px;
    height: 25px;
    float: left;
    margin: 10px 0;
  }
  .c_footer_service {
    height: 340px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-left: 9%;
  }
  .l_footer { 
    width: 100%;
    border-top: 1px solid #BDFFF0 ;
  }
  .c_footer_service_float {
    float: left;
    width: 25%;
    color: #696969;
  }
  .c_footer {
    width: 100%;
    height: 70px;
    background-color: #138690;

  }
  
  .c_footer__logo {
    padding: 15px 90px;

  }
  
  .c_socialMedia_footer {
    float: right;
    color: #ffffff;
    display: flex;
  }
  
  .c_icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .t_follow_us {
      margin: 0px;
      padding: 10px 0;
  }
  .c_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .c_title {
    color: black;
  }
  .responsive_c_footer {
      display: none;
  }
  li {
    margin-bottom: 10px;
  }

  @media screen and (max-width : 600px) {
    .c_logo_footer {
        width: 110px;
        height: 20px;
        float: none;
        margin: 0 auto;
        padding: 5px 40px;
        
      }

    .c_footer {
        width: 100%;
        height: 138px;
        background-color: #138690;
        position: relative;
      }
    .c_footer__logo {
        display: flex;
        width: 50%;
        margin: 0 auto;
    }
    .c_footer_layout {
        display: -webkit-box;
        width: 100%;
    }
    .c_socialMedia_footer {
        display: table;
        float: none;
        position: absolute;
        bottom: 15px;
        left: 30%;
    }
      
    .t_follow_us {
        text-align: center;
        padding: 10px;
    }
  }

  @media screen and (max-width : 600px) {
    .c_footer_service_float {
      width : 50%;
    }
  }   

