.c_footer_service,.c_footer__logo{
  max-width: 1185px;
  margin-left: auto;
  margin-right: auto;
}
.l_footer { 
  margin-top: 80px;
}
.l_footer hr { 
    
  width: 100%;
  margin: 0px;
  border: 0.5px solid #BDFFF0;
}
.c_footer_service {
  margin-top: 80px;
  margin-bottom: 80px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  
}
.c_footer_service_float {
  float: left;
  width: 33.33%;
}
.c_footer_service_float ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}
.c_title {
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
  margin-top: 0px;
}
li {
  margin-top: 10px;
}

.c_a_footer {
  color:#696969 ;
}
.c_logo_footer {
    width: 138px;
    height: 25px;
    float: left;
    margin: 10px 0;
  }
/* Logo footer */

  .c_footer {
    width: 100%;
    height: 70px;
    background-color: #138690;
    position: relative;
  }
  
  .c_footer__logo {
    padding: 15px 0px

  }
  
  .c_socialMedia_footer {
    float: right;
    color: #ffffff;
    display: flex;
  }
  
  .c_icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .t_follow_us {
      margin: 0px;
      padding: 10px 0;
  }
  .c_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .responsive_c_footer {
      display: none;
  }
@media only screen and (max-width: 1366px){
  .c_footer_service,.c_footer__logo{
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media only screen and (max-width: 1024px){
  .c_footer_service{
    margin: 60px 0px;

  }
  .c_footer_service,.c_footer__logo{
   
    padding-left: 30px;
    padding-right: 30px;
  }
  

}
@media only screen and (max-width: 719px){
  .c_footer_service,.c_footer__logo{
    padding-left: 15px;
    padding-right: 15px;
  }
  .c_footer_service_float{
    width: 50%;
  }
  .c_footer_service_float:nth-child(n+3){
    margin-top: 50px;
  }
  .c_logo_footer {
        
    height: 20px;
    margin: 0 auto;
    padding: 5px 30px;
    
  }
.c_footer {
    height: 138px;
  }
.c_footer__logo {
    width: 50%;
    height: 50%;
}
.c_socialMedia_footer {
    display: table;
    position: absolute;
    bottom: 15px;
    left: 30%;
}
  
.t_follow_us {
    text-align: center;
}
}
@media only screen and (max-width: 480px){
  .c_footer_service_float ul
  {
    max-width: 40%;
  }
}