<div class="l_footer">
    <hr/>
    <div class="c_footer_service">
        <div class="c_footer_service_float">
            <ul>
                <li class="c_title">SERVICES</a></a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >AI Development</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >IoT Development</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Cloud Computing</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >RPA Install Support</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Blockchain Development</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >PWA Development</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >VR/AR Development</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Odoo ERP Customize</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Digital Marketing</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Cyber Security</a></li>
            </ul>
        </div>
        <div class="c_footer_service_float" style="
        padding-bottom: 37px;">
            <ul>
                <li class="c_title">SOLOTIONS</a></a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Security System</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >KPI dashboard system</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >QR Code system</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Contact Cener</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Projection Mapping</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >Human Resource Management</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >logistic system</a></li>
                <li><a :href="$router.resolve({ name: 'servicedetail', params: { service: 'ai' }}).href" class="c_a_footer" >School Management System</a></li>
            </ul>
        </div>
        <!-- <div class="c_footer_service_float">
            <ul>
                <li class="c_title">ABOUT</a></a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >History</a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Mission and Vision</a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Managers</a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Advisors</a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Teams</a></li>
            </ul>
        </div> -->
        <!-- <div class="c_footer_service_float">
            <ul>
                <li class="c_title">CAREER</a></a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Join our team</a></li>
                <li><a :href="{ name: 'servicedetail', params: { service: 'iot' } }" class="c_a_footer" >Career opportunities</a></li>
            </ul>
        </div> -->
    </div>
    <div class="c_footer">
        <section class="c_footer__logo">
            <div class="c_footer_layout">
                <a href="/" class="c_a_footer" ><img class="c_logo_footer" src="../../assets/component/footer/logo_white.svg"></a>
                <div class="c_socialMedia_footer">
                    <p class="t_follow_us">Follow us on:</p>
                    <a href="https://www.facebook.com/a2adigitalcambodia/?eid=ARDluIfaOTlE_DVlobIZt8ChT2PJDljUgtVKey92CbQ3qb0chZuiGCiN7VQTojxS1qvPj43t2fZ5lonQ" class="c_a_footer" ><img class="c_icon" src="../../assets/component/footer/facebook (2).svg"></a>
                    <a href="https://www.linkedin.com/company/a2adigital/about/" class="c_a_footer" ><img class="c_icon" src="../../assets/component/footer/linkedin (1).svg"></a>
                    <!-- <a class="c_a_footer" ><img class="c_icon" src="../../assets/component/footer/twitter (3).svg"></a> -->
                </div>
            </div>
        </section>
    </div>
</div>