<div class="c_sevice_form_right">

    <div class="c_sevice_form_wrapper">
      <div class="c_sevice_form_caption">
        <h1>Send Us A Message</h1>
        <p>Please fill the form below to get in touch with us.</p>
      </div>  
      <div class="c_sevice_form_register"> 

        <div class="c_sevice_form_username_mail">

            <div class="c_sevice_form_username">
              <label for="username-login" class="sevice_form-label">Name*</label>
              <input class="c_sevice_form_input" type="text" name="username" >
            </div>
            <div class="c_sevice_form_mail">
              <label for="Mail" class="sevice_form-label">Email*</label>
              <input class="c_sevice_form_input" type="email" name="email">
            </div>
        </div> 

        <div class="c_sevice_form_username_mail">
          <div class="c_sevice_form_feedback">
              <label for="country" class="sevice_form-label">How can we help you ?*</label>
              <input class="c_sevice_form_input" type="text" name="feedback" >
          </div>  
        </div>

        <div class="c_sevice_form_username_mail">
            <div class="c_input_sumit">
              <button type="button" class="submit_btn">Get In Touch</button>          
            </div>
        </div>

      </div>  

    </div>
  
  </div>
