<div class="c_sevice_form_right">

    <div class="c_sevice_form_wrapper">
      <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">

      <div class="c_sevice_form_caption">
        <h1>Send Us a Message</h1>
        <p>Please fill the form below to get in touch with us.</p>
      </div>  
      <div class="c_sevice_form_register"> 

        <div class="c_sevice_form_username_mail">

            <div class="c_sevice_form_username">
              <label for="username-login" class="sevice_form-label">Name*</label>
              <!-- <input class="c_sevice_form_input" type="text" name="username" > -->
              <input v-model="name" v-validate.initial="name" data-rules="required|alpha_spaces|min:3" class="form-control c_sevice_form_input" type="text" >
              <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>

            </div>
            <div class="c_sevice_form_mail">
              <label for="Mail" class="sevice_form-label">Email*</label>
              <input v-model="email" v-validate.initial="email" data-rules="required|email" class="form-control c_sevice_form_input" id="c_form_input" type="email" >
            <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>

            </div>

            <div class="c_sevice_form_mail">
              <label for="Mail" class="sevice_form-label">Country</label>
              <input v-model="country"  data-rules="required|email" class="form-control c_sevice_form_input" id="c_form_input">
            <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>

            </div>
        </div> 

        <div class="c_sevice_form_username_mail">
          <div class="c_sevice_form_feedback">
              <label for="country" class="sevice_form-label">How can we help you ?*</label>
              <textarea v-model="feedback" class="form-control vresize c_sevice_form_input" id="c_form_fb" v-validate.initial="Feedback" data-rules="required|alpha_dash|min:20"></textarea>
              <p class="text-danger" v-if="errors.has('Feedback')">{{ errors.first('Feedback') }}</p>

          </div>  
        </div>

        <div class="c_sevice_form_username_mail">
            <div class="c_input_sumit">
              <button class="btn btn-primary btn-block submit_btn" type="submit">Get In Touch</button>
        
            </div>
        </div>
        
      </div>  
      
      </form>
      <div v-else>
        <h1 class="submitted">Form submitted successfully!</h1>
      </div>

    </div>
  
  </div>
