.c_sevice_form_right{
    width: 100%;
}
.c_sevice_form_caption{
    margin-bottom: 50px;
}
.c_sevice_form_caption h1{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #303030;
    text-align: center;
}
.c_sevice_form_caption p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #303030;
}
.c_sevice_form_register{
    max-width: 563px;
    margin: auto;
}
.c_sevice_form_username,.c_sevice_form_mail,.c_sevice_form_country,.c_sevice_form_feedback{
    margin-bottom: 35px;
}
.c_sevice_form_username input,.c_sevice_form_mail input,.c_sevice_form_country input,.c_sevice_form_feedback input{
    /* background-color: violet; */
    margin: auto;
    width: 100%;
}
.sevice_form-label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #BABABA;
}
.c_sevice_form_username input.c_sevice_form_input{
    border: 0;
    outline: 0;
    font-size: 1em;
    padding: 8px 1px;
    border-bottom: 1px solid #303030;

    margin-top: 0.1em;

}
.form-control
{
    width: 100%;
}
#c_form_fb {
   
    resize: none; 
    min-height: 110px;
  
}

.c_input_sumit{
    box-sizing: border-box;
    border-radius: 4px;
}
.c_input_sumit:hover .submit_btn{
    border: none;
}
.c_sevice_form_wrapper{
   margin-top: 50px;
}

@media only screen and (max-width: 980px) {
    .c_sevice_form_wrapper{
        margin-left: 20px;
        margin-right: 20px;
    }
}