<div class="cloud_service__container">
    <div class="l_service__detail__container">
<!-- ------------------------------------Start Service Cloud Compare --------------------------- -->
    <div class="c_ai_important__container">
        <section class="c_ai__important__section">
            <div class="c_ai__description__container">
                <article class="l_ai_description__wrapper">
                    <header class="l_description__header">
                        <h1>{{management[0]['header']}}</h1>
                    </header>
                    <div v-for="text in management[1]['texts']">
                        <p>{{text['text']}}</p>
                    </div>
                 </article>
            </div>
        </section>
        </div>
    </div>
</div>
</div>