<div class="l_solution__row">
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <a href="/solutiondetail"><p>Read More</p></a>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar" >
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="l_solution__column">
      <div class="l_solution__card">
          <img src="../../assets/components/solutions/solutions-card/services-01.png" alt="Avatar">
        <div class="l_solution__decription">
          <h1>AI Book</h1>
          <p>The Internet of Things (IoT) is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique</p>
          <div class="c_solution__readmore">
            <p>Read More</p>
            <img alt="arrow icon" src="../../assets/components//solutions/solutions-card/Arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>