<div  id ="navigation">  
  <div id="nav"> 
    <div id="nav_logo">  
        <a href="/"><img alt="Vue logo" class= "c_logo" src="../../assets/component/navigator/logo_A2A.svg"></a>
    </div>
    <div id="nav_right">
        <div id="nav_only_button">
          <div class="dropdown" id="nav_button">
            <a class="dropbtn c_navigate_right">Services
              <svg class="c_dropdown" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="svg_dropdown" d="M11.873 0L6.73 5.143L1.587 0L0 1.587L6.73 8.317L13.46 1.587L11.873 0Z" fill="#ffffff"/></svg>
            </a>
            <div class="dropdown-content">
              <div class="drp1">
                <ul>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'digital' } }">Digital Marketing</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'cyber' } }">Cyber Security</router-link></li>
                </ul>
              </div>
              <div class="drp2">
                <ul>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'rpa' }}">RPA install support</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'pwa' } }">PWA development</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'arvr' } }">VR/AR development</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'odoo' } }">Odoo ERP custormize</router-link></li>
                </ul>
              </div>
              <div class="drp3">
                <ul>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'ai' } }">Artificial Intelligence</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'iot' }}">IOT development</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'cloud' }}">Cloud Computing</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'blockchain' }}">Block Chain development</router-link></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown" id="nav_button">
            <a class="dropbtn c_navigate_right">Solutions
              <svg class="c_dropdown" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="svg_dropdown" d="M11.873 0L6.73 5.143L1.587 0L0 1.587L6.73 8.317L13.46 1.587L11.873 0Z" fill="#ffffff"/></svg>
            </a>
            <div class="dropdown-content">
              <div class="drp1">
                <ul>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'pwa' } }">Security System</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'vr' } }">KPI Dashboard System</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'odoo' } }">QR Code System</router-link></li>
                  <li><router-link :to="{ name: 'servicedetail', params: { service: 'cyber' } }">Contact Center</router-link></li>
                </ul>
              </div>
              <div class="drp2">
                <ul>
                  <li><router-link :to="{ name: 'solutiondetail', params: { solution: 'humanresource' } }">Human Resource Management</router-link></li>
                  <li><router-link :to="{ name: 'solutiondetail', params: { solution: 'logistic' } }">Logistic System</router-link></li>
                  <li><router-link :to="{ name: 'solutiondetail', params: { solution: 'schoolmanagement' } }">School Management System</router-link></li>

              
                </ul>
              </div>
            </div>
          </div>
          <div id="nav_button">
            <a href="/about" class="c_navigate_right">About</a>
          </div>
          <div id="nav_button">
            <a href="/contact"class="c_navigate_right">Contact</a>
          </div>
        </div>
        <div class="c_sideNav">

          <div ref="sideNav" class="bm-menu">

          <div id="sideNav_logo">
            <div>
              <img alt="Vue logo" class= "c_logo" src="../../assets/component/navigator/logo_A2A.svg">
            </div>  
            
            <div id="bm_click">
              <span class="bm-cross-button cross-style" @click="closeMenu" :class="{ hidden: !crossIcon }">
                
                  <svg width="20" height="20" class="bm-close" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.4887 10.001L19.6917 1.79796C20.1028 1.38686 20.1028 0.720381 19.6917 0.309327C19.2806 -0.101766 18.6141 -0.101766 18.2031 0.309327L9.99998 8.51236L1.79695 0.309327C1.38586 -0.101766 0.719374 -0.101766 0.30832 0.309327C-0.102734 0.72042 -0.102773 1.3869 0.30832 1.79796L8.51135 10.001L0.30832 18.204C-0.102773 18.6151 -0.102773 19.2816 0.30832 19.6926C0.719413 20.1037 1.3859 20.1037 1.79695 19.6926L9.99998 11.4896L18.203 19.6926C18.6141 20.1037 19.2806 20.1037 19.6916 19.6926C20.1027 19.2816 20.1027 18.6151 19.6916 18.204L11.4887 10.001Z" fill="#138690"/>
                  </svg>
                
              </span>
            </div>

          </div>
          <div id="bm_nav_scroller">
            <ul class="bm_ul">

                <li id="slide_service" class="bm_primary_scroller" v-bind:style="{background: background_service, color: color_service}" >

                        Services
                        <svg class="bm_list_down" width="9" height="17" viewBox="0 0 9 17" fill="#138690" xmlns="http://www.w3.org/2000/svg"v-bind:style="{fill: color_click_serivce, transform:rotate_click_service}">
                          <path d="M8.65039 8.74568L0.860939 16.8937C0.791212 16.9668 0.698244 17.0033 0.605276 17.0033C0.515626 17.0033 0.429298 16.9701 0.359571 16.9037C0.220118 16.7676 0.213478 16.5451 0.349611 16.4023L7.90664 8.49998L0.349609 0.597635C0.213476 0.458182 0.216797 0.2324 0.35957 0.0995878C0.502343 -0.0365449 0.724805 -0.0299043 0.860937 0.109549L8.65039 8.25427C8.7832 8.39041 8.7832 8.60623 8.65039 8.74568Z" />
                        </svg>

                        <div class="bm_tree__service" v-bind:style="{ display: styleCheck_service }" >
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'ai' } }">Artificial Intelligence</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'iot' }}">IOT development</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'cloud' }}">Cloud Computing</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'rpa' }}">RPA install support</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'blockchain' }}">Block Chain development</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'pwa' } }">PWA development</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'vr' } }">VR/AR development</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'odoo' } }">Odoo ERP custormize</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'cyber' } }">Cyber Security</router-link></li>
                          <li class="bm_tree_submenu"><router-link :to="{ name: 'servicedetail', params: { service: 'digital' } }">Digital Marketing</router-link></li>
                        </div>
                </li>



                <li id="slide_product" class="bm_primary_scroller" v-bind:style="{background: background_product, color: color_product}">
                      Products
                      <svg class="bm_list_down"  width="9" height="17" viewBox="0 0 9 17" fill="#138690" xmlns="http://www.w3.org/2000/svg" v-bind:style="{fill: color_click_product, transform:rotate_click_product}">
                        <path d="M8.65039 8.74568L0.860939 16.8937C0.791212 16.9668 0.698244 17.0033 0.605276 17.0033C0.515626 17.0033 0.429298 16.9701 0.359571 16.9037C0.220118 16.7676 0.213478 16.5451 0.349611 16.4023L7.90664 8.49998L0.349609 0.597635C0.213476 0.458182 0.216797 0.2324 0.35957 0.0995878C0.502343 -0.0365449 0.724805 -0.0299043 0.860937 0.109549L8.65039 8.25427C8.7832 8.39041 8.7832 8.60623 8.65039 8.74568Z"/>
                      </svg>
                    <div class="bm_tree__product" v-bind:style="{ display: styleCheck_product}" >
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'security' } }">Security System</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'school' }}">School Management System</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'kpi' }}">KPI Dashboard</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'shuttle' }}">Shuttle Bus</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'qr' }}">QR Code System</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'contact' } }">Contact Center</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'projection' } }">Projection Mapping</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'hr' } }">HR Management</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'logistic' } }">Logistic System</router-link></li>
                      <li class="bm_tree_submenu"><router-link :to="{ name: 'solutiondetail', params: { service: 'digital' } }">Digital Marketing</router-link></li>
                  
                    </div>

                </li>


                <li class="bm_primary_scroller">
                  <a href="#" class="scroller_text"> <span>About</span></a>
                </li>

                <li class="bm_primary_scroller">
                  <a href="#" class="scroller_text"> <span>Contact</span></a>
                </li>

                <li class="bm_primary_scroller">
                  <a href="#" class="scroller_text"> <span>Jobs</span></a>
                </li>


            </ul>

          </div>

          </div>

          <div ref="bmBurgerButton" class="bm-burger-button" @click="openMenu" :class="{ hidden: !burgerIcon }">
              <span class="bm-burger-bars">
                <svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="1.5" y1="1.5" x2="23.5" y2="1.5" stroke="#138690" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="1.5" y1="7.5" x2="23.5" y2="7.5" stroke="#138690" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="1.5" y1="13.5" x2="23.5" y2="13.5" stroke="#138690" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                  
              </span>
          </div>
        </div>
    </div>
  </div>
</div>