/* default  (Navigation) */
#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    margin: auto;
    z-index: 999;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

#nav {
    height: 70px;
    display: flex;
    align-items: center;
}

#nav_logo a {
    display: flex;
}

#nav_button {
    float: left;
    margin-right: 30px;
}

#nav_button svg {
    width: 10px;
}

#nav_button > div > a, svg path {
    font-weight: bold;
    color: #303030;
}

#nav_button svg > path {
    fill: #303030;
}

#nav_button:hover > div > a {
    font-weight: bold;
    color: #A40505;
}

#nav_button:hover svg path {
    fill: #A40505;
}

#nav_button:nth-last-child(1) {
    margin-right: 0;
}

#slide_service, #slide_product {
    cursor: pointer !important;
}

.l_logo {
    height: 25px;
}

.spacer {
    flex-grow: 1 !important;
}

.c_search {
    width: 16px;
    height: 16px;
    fill: #303030;
    padding-top: 5px;
}

.c_navigate_right + .c_navigate_right {
    padding-left: 40px;
}

.c_navigate_right {
    text-decoration: none;
    font-size: 16px;
    color: white
}

.line-style {
    position: absolute;
    height: 10%;
    left: 0;
    right: 0;
}

.l_cross-style {
    top: 20px;
    right: 30px;
}

.bm_icon_close {
    width: 20px;
    height: 20px;
}

.l_bm-cross-button {
    height: 20px;
    width: 20px;
}

.l_bm-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.c_slide_product {
    padding: 25px 30px;
    font-size: 18px;
    color: #138690;
}

.c_dropbtn {
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.c_dropbtn:hover {
    padding-top: 20px;
    padding-bottom: 23px;
}

.main-dropdown {
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Links inside the dropdown */
.c_dropdown-content a {
    font-weight: bold;
    color: #303030;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.c_dropdown-content .dropbtn:hover {
    background-color: black;
}

.dropdown:hover .svg_dropdown {
    fill: #A40505;
}

.svg_dropdown {
    fill: #ffffff;
}

.c_dropdown-content a:hover {
    font-weight: bold;
    color: #A40505;
    border-left: #A40505 solid 3px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: #A40505;
}

.l_drp1 {
    display: inline-flex;
    width: 30%;
}

.l_drp2 {
    width: 30%;
    float: left;
}

.l_drp3 {
    width: 30%;
    float: left;
}

.l_drp3 {
    width: 30%;
    float: left;
}


.bm_tree_toggle {
    font-size: 18px;
    display: flex;
    padding: unset;

}

.c_bm_list_down {
    position: absolute;
    right: 35px;
}

.c_scroller_text {
    text-decoration: none;
    font-size: 18px;
    color: #138690;
}

.bm_tree__content {
    display: none;
}

.l_bm_tree__product {
    display: none;
    width: 100%;
    float: left;
    padding: 20px;

}

.l_bm_tree__service {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
}

.c_bm_tree_submenu {
    padding-top: 12px;
    text-decoration: none;
    color: #138690;
    font-size: 16px;
    display: flex;

}

.c_bm_tree_submenu a {
    color: #138690;

}

.bm_tree_servic_content {
    text-decoration: none;
    color: #138690;
    font-size: 16px;

}

.l_bm_primary_scroller {
    display: block;
    font-size: 18px;
    padding: 13px 30px;
    min-width: 768px;
    color: #138690;
}

.l_bm_primary_scroller:hover {
    background-color: #138690;
    color: #ffffff;
}

.l_bm_primary_scroller:hover .scroller_text {
    color: #ffffff;
}

.c_bm_ul {
    padding: unset;
    margin: unset;
}

#slide_content {
    float: left;

}

#bm_click {
    height: 70px;
    width: 70px;
    border-left: 1px solid #BDFFF0;
}

.c_bm-close {
    margin: 20px 30px;
}

#sideNav_logo {
    border-bottom: 1px solid #BDFFF0;
    display: flex;
    align-items: center;
}


#vector {
    float: right;
}

@media only screen and (max-width: 980px) {

    #navigation {
        width: 100%;
    }

    #nav_only_button {
        display: none;
    }

    .l_bm-burger-button {
        display: unset;
        width: 25px;
        height: 12px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 375px) {
    .l_bm_primary_scroller {
        font-size: 18px;
        padding: 13px 30px;
        font-weight: bold;
        color: #138690;

    }
}

.c_bm_ul {
    margin: unset;
}


#slide_content {
    float: left;
}

#bm_click {
    height: 60px;
    float: right;
    width: 80px;
    border-left: 1px solid #BDFFF0;
}

.c_bm-close {
    margin: 20px 30px;
}

#sideNav_logo {
    padding-left: 15px;
    height: 70px;
    border-bottom: 1px solid #BDFFF0;
}

#vector {
    float: right;
}

@media only screen and (max-width: 980px) {
    #sideNav_logo {
        padding-left: 30px;
    }

    #nav_only_button {
        display: none;
    }

    .l_bm-burger-button {
        display: unset;
        width: 25px;
        height: 12px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 980px) {
    .l_bm-burger-button {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    #navigation {
        width: 100%;
    }

    .l_bm_primary_scroller {
        font-size: 18px;
        padding: 13px 20px;
        font-weight: bold;
        color: #138690;
    }
}

.dropdown-content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 44px;
    background-color: #ffffff;
    transform: scaleY(0);
    transform-origin: center top;
    transition: .1s;
}

.dropdown:hover .dropdown-content {
    transform: scaleY(1);
    transition: .3s all ease;
}

@media (min-width: 768px) {
    .l_content-service {
        min-width: 900px;
        right: -265px;
    }

    .l_content-solution {
        min-width: 900px;
        right: -158px;
    }
}

@media (min-width: 1264px) {
    .l_content-service {
        width: 1185px;
        right: -265px;
    }

    .l_content-solution {
        width: 1185px;
        right: -158px;
    }
}
