<div  class="slide">
  <div class="l_contrainer">
      <div class="l_slide_intro">
          <h1 >Start Your Project with <br> A2A Digital Today </h1>
          <p>Whether you're looking for system development, enterprise solutions, digital marketing & film, graphic design, or other functionality, we have the services to help you build sophisticated applications.</p>
      </div>
      <div class="l_slide_info">
          <div class="c_slide__contactbtn">
              <router-link to="/contact"><p> Start Your Solution  </p></router-link>
          </div>
      </div>
  </div>
</div>