/* Applying value to the slide div tage */
.slide {
    background-image: url("../../../public/assets/component/slide/background-desktop.png") ;
    background-color:  #E8E8EA;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
 
}

.l_contrainer {
    margin: 0 auto;
    max-width: 1185px;
    position: relative;
    top: 30%;
    text-align: center;
}
/* This is the share value of slide feature */

.l_slide_intro h1{
    font-family:SFProText-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    /* White */

    color: #FFFFFF;
}
.l_slide_intro p{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 849px;
    font-size: 18px;
    line-height: 21px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
}
/* Set value to contact button tage */
.c_slide__contactbtn{
   margin-left: auto;
   margin-right: auto;
    width: 250px;
    height: 47px;
    background-color:#A40505 ;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 35px;
}
.c_slide__contactbtn p{
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding:14.3px 0px;
    margin-top: 12px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1366px){
    .l_contrainer{
        padding: 0px 90px;
        top: 20%;
    }
}
@media only screen and (max-width: 1024px){
    .l_contrainer{
        padding: 0px 30px;
    }
    .l_slide_intro h1{
        font-size: 30px;
        line-height: 42px;

    }
    .l_slide_intro p{
        max-width: 540px;
        font-size: 18px;
        line-height: 21px;
    }
}
@media only screen and (max-width: 719px){
    .l_contrainer{
        padding: 0px 15px;
    }
    .l_slide_intro p{
        max-width: 85%;
        font-size: 18px;
        line-height: 21px;
    }
}