/* This is the share value of slide feature */
.l_slide_intro {
    padding-left: 91px;
}

/* Applying value to the slide div tage */
.slide{
    background: url("../../assets/components/slide/background-desktop.png"), #E8E8EA ;
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: top right; 
    width: 100%;
    min-height: 100vh;
    
}
.l_slide_intro h1{

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #303030;
    padding-top: 201px;
}
.l_slide_intro p{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    padding-top: 16px;
}
/* Set value to contact button tage */
.c_slide__contactbtn{

    float: left;
    width: 168.18px;
    height: 50px;
    margin-top: 42px;
    border: 2px solid #138690;
    box-sizing: border-box;
    border-radius: 4px;
}
.c_slide__contactbtn p{
    font-family: SF Pro Text;
    font-style: normal;
    padding-top: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #138690;
}
/* Set value to video tage */
.l_slide__video{

    float: left;
}
.c_btn__playvideo{

    margin-top: 42px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.l_slide__video i{
    padding-left: 10px;
    padding-top: 58px;
    float: right;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #138690;
} 

  @media screen and (max-width:1365px) and (min-width: 720px){

    .slide{
        background:url("../../assets/components/slide/Background-tablet.png"), #E8E8EA;
        background-repeat: no-repeat;
        background-size: contain, cover;
        background-position: top right; 
        width: 100%;
        min-height: 100vh;
    }
    .l_slide_intro,.l_slide_info{
        padding-left: 30px;
    }
    .l_slide_intro h1{
        padding-top: 199px;
        width: 425px;
        height: 120px;
    }
    .l_slide_intro p{
        margin-top: 16px;
        width: 425px;
        height: 42px;
    }
    

    .c_slide__contactbtn{
        margin-top: 37px;
        width: 212px;
        height: 50px;
    }
    .l_slide__video{
        position: absolute;  
        top: 472px; 
        left: 48px;
    }
    .l_slide__video i{
        padding-left: 10px;
    }
}
@media screen and (max-width:719px) and (min-width: 480px){
    .slide {
        background-image:url("../../assets/components/slide/background-mobile.png");
        background-repeat: no-repeat;
        background-size: contain, cover;
        background-position: top right; 
        width: 100%;
        min-height: 100vh;
      }
      .l_slide_intro,.l_slide_info{
          padding-left: 30px;
      }
      .l_slide_intro h1{
        text-align: left;
        padding-top: 80px;
      }
    
}
@media screen and (max-width: 480px) {
    .slide {
        background-image:url("../../assets/components/slide/background-mobile.png");
        background-size: contain, cover;
      }
      .l_slide_intro{
        padding-left: 28px;
    }
    .l_slide_info{
        padding-left: 0px;

    }
    .l_slide_intro h1{
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: bold;
        width: 20px;
        padding-top: 70px;
        font-size: 50px;
        line-height: 60px;
        color: #303030;
    }

    .l_slide_intro p{
        font-size: 18px;
        line-height: 21px;
        color: #303030;
        text-align: left;
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .c_slide__contactbtn{
        float: none;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }
    .l_slide__video{
        position: absolute;  
        float: none;
        top: 442px;  
        left: 97px;
    }
    .l_slide__video i{
        padding-left: 9.82px;
    }
    
  }