/* This is the share value of slide feature */
#slide h1,i,p {
    
    font-style: normal;
    color: #303030;
}
#slide p,i{

    font-weight: 500;
}
.l_slide_intro, .l_slide_info{

    padding-left: calc(10.32% - 50px);
}
/* Applying value to the slide div tage */
#slide{
    background-color: #BDFFF0;
     /* background-image: url("../../assets/components/slide/water-1330252__340.webp"); */
    width: 100%;
    min-height: 100vh;
    
}
.c_slide__header h1{

    margin-bottom: 0%;
    padding-top: calc(15.73% - 100px);
    text-align: justify;
    font-family: SFProText-Bold;
    font-size: 64px;
    line-height: 76px;
}
.c_slide__description p{
    margin-top: 0.5%;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
/* Set value to contact button tage */
.c_slide__contactbtn{

    float: left;
    width: 177px;
    border: 2px solid #138690;
    box-sizing: border-box;
    border-radius: 4px;
}
.c_slide__contactbtn p{

    font-family: SF Pro Text;
    font-style: normal;
    font-size: 25px;
    line-height: 0px;
    text-align: center;
    /* Green */
    color: #138690;
}
/* Set value to video tage */
.l_slide__video{

    float: left;
}
.c_btn__playvideo{

    padding-left: 14px;
    width: 58px;
}
.l_slide__video i{
    
    float: right;
    padding-left: 12.5px;
    padding-top: 14px;
    font-size: 25px;
    line-height: 30px;
    color: rgb(19, 134, 144);
} 