<div class="slide">
  <div class="l_contrainer">
  <div class="l_slide_intro">
      <!-- <img class="c_image__slide" alt="btn_icon" src="../../assets/components/slide/background-desktop.png" > -->
      <h1>For industrial
        <br>
        revelotion 4.0
      </h1>
      <p>We provide the best solution using
        <br>
        the cutting edge technologies
      </p>
  </div>
  <div class="l_slide_info">
    <div class="c_slide__contactbtn"> 
      <p > Contact us </p>
    </div>
    <div class="l_slide__video">
      <a href="#img1">
          <img class="c_btn__playvideo" alt="btn_icon" src="../../assets/components/slide/play.svg" >
          <i>Watch Video</i>
      </a>
      <center>
        <a href="#_" class="lightbox" id="img1">
          <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
            <div class="modal-header">
              <p class="close full-height" data-dismiss="modal" aria-hidden="true">X</p>
            </div>
            <div class="modal-body">
              <iframe src="https://www.youtube.com/embed/SvuoDerqNW0" frameborder="0" allowfullscreen="">
              </iframe>
            </div>
          </div>
          </a>
        </center>
    </div>
  </div>
</div>
</div>