<div class="slide">
  <div class="l_slide_intro">
      <h1>For industrial
        <br>
        revelotion 4.0
      </h1>
      <p>We provide the best solution using
        <br>
        the cutting edge technologies
      </p>
  </div>
  <div class="l_slide_info">
    <div class="c_slide__contactbtn"> 
      <p > Contact us </p>
    </div>
    <div class="l_slide__video">
      <a href="https://www.youtube.com/watch?v=Au63DyjBQ7k">
          <img class="c_btn__playvideo" alt="btn_icon" src="../../assets/components/slide/play.svg" >
          <i>Watch Video</i>
      </a>
    </div>
  </div>
</div>