<div id="about-page">
    <div class="l_service__container">
        <section class="c_card__service txt_left">
            <div class="l_article__wrapper l_pc">
                <article class="l_card__text">
                    <h1>History</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
            <div class="l_card__img">
                <!-- <div class="bg_photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div> -->
                <img src="../../assets/img/img1.jpg" alt="test img ">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>History</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_right">  
            <div class="l_article__wrapper l_pc">
                    <article class="l_card__text">
                        <h1>What to do? </h1>
                        <p>Productive team work happen at the channels-organized spaces
                            for everything related to a project,topic or team.
                        </p>
                    </article>
            </div> 
            <div class="l_card__img">
                <img src="../../assets/img/img1.jpg" alt="testphoto">
                <!-- <div class="bg_photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div> -->
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>What to do ?</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div> 
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_left">
            <div class="l_article__wrapper l_pc">
                <article class="l_card__text">
                    <h1>Mission and Vision</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
            <div class="l_card__img">
                <!-- <div class="bg_photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div> -->
                <img src="../../assets/img/img1.jpg" alt="test img ">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>History</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_right">  
            <div class="l_article__wrapper l_pc">
                    <article class="l_card__text">
                        <h1>What to do? </h1>
                        <p>Productive team work happen at the channels-organized spaces
                            for everything related to a project,topic or team.
                        </p>
                    </article>
            </div> 
            <div class="l_card__img">
                <img src="../../assets/img/img1.jpg" alt="testphoto">
                <!-- <div class="bg_photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div> -->
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>What to do ?</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div> 
        </section>
    </div>
</div>
