<div id="about-page">
    <div class="l_service__container">
        <section class="c_card__service txt_left">
            <div class="l_article__wrapper l_pc">
                <article class="l_card__text">
                    <h1>Who we are</h1>
                    <p>We are A2A Digital, an IT solution Company of fully of cutting edge technologies that enhance clients’ business with trust and reliability. We provide consultant, support, design, maintenance and development for organizations and companies with a rapid process in development which help our clients and less time consuming. We believe in leveraging the power of innovation to seize new opportunities. Innovation and simplicity makes us happy. We’re excited to help you on your journey!
                    </p>
                </article>
            </div>
            <div class="l_card__img">
                <img src="../../assets/component/about-content-card/img1.jpg" alt="test img ">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>Who we are</h1>
                    <p>We are A2A Digital, an IT solution Company of fully of cutting edge technologies that enhance clients’ business with trust and reliability. We provide consultant, support, design, maintenance and development for organizations and companies with a rapid process in development which help our clients and less time consuming. We believe in leveraging the power of innovation to seize new opportunities. Innovation and simplicity makes us happy. We’re excited to help you on your journey!
                    </p>
                </article>
            </div>
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_right">  
            <div class="l_article__wrapper l_pc">
                    <article class="l_card__text">
                        <h1>What to do? </h1>
                        <p>Productive team work happen at the channels-organized spaces
                            for everything related to a project,topic or team.
                        </p>
                    </article>
            </div> 
            <div class="l_card__img">
                <img src="../../assets/component/about-content-card/img1.jpg" alt="testphoto">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>What to do ?</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div> 
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_left">
            <div class="l_article__wrapper l_pc">
                <article class="l_card__text">
                    <h1>Mission and Vision</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
            <div class="l_card__img">
                <img src="../../assets/component/about-content-card/img1.jpg" alt="test img ">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>History</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div>
        </section>
    </div>
    <div class="l_service__container">
        <section class="c_card__service txt_right">  
            <div class="l_article__wrapper l_pc">
                    <article class="l_card__text">
                        <h1>What to do? </h1>
                        <p>Productive team work happen at the channels-organized spaces
                            for everything related to a project,topic or team.
                        </p>
                    </article>
            </div> 
            <div class="l_card__img">
                <img src="../../assets/component/about-content-card/img1.jpg" alt="testphoto">
            </div>
            <div class="l_article__wrapper">
                <article class="l_card__text">
                    <h1>What to do ?</h1>
                    <p>Productive team work happen at the channels-organized spaces
                        for everything related to a project,topic or team.
                    </p>
                </article>
            </div> 
        </section>
    </div>
</div>
